// Library imports ------------------------------------------------------------
//
// Links to common libraries are included below. Place the files at the root
// of the sass folder

//@import '../libs/...';

// Global vars ----------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 1.5;
$total-columns: 12;
$default-gutter-width: 5% !default;
$default-column-breakpoint: 650px;
$max-container-width: 1180px;
$min-page-padding: 15px;
$header-height: 76px;
$header-height-mb: 50px;
$footer-height: 60px;
/*
 * Neat Grid settings
 */

$column: 75px !default;
// Column width
$gutter: 20px !default;
// Gutter between each two columns
$grid-columns: 12 !default;
// Total number of columns in the grid
$max-width: $max-container-width !default;
// Max-width of the outer container
$border-box-sizing: true !default;
// Makes all elements have a border-box layout
$feature: min-width;
// Default @media feature for the breakpoint() mixin
$layout-direction: LTR !default;

// Imports --------------------------------------------------------------------

@import "../mixin/all";
@import "base/functions";
