/* Preloader CSS */

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2019;
  transition: background-color 1s ease, opacity 2s ease, z-index 1s;
  /* transition-delay: 0.5s; */
}

#preloader.open {
  background-color: transparent;
  z-index: -999;
  opacity: 0;
}

#bgTop {
  position: absolute;
  background-color: #4b0d62;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
}
#bgTop.open {
  transform: translate(0, -100%);
}
.progressBar {
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #d09910;
  height: 4px;
  transition: all 0.5s ease-in;

  width: 0;
  z-index: 1;
}
.airplane {
  position: absolute;
  top: -32px;
  width: 64px;
  height: 64px;
  background: transparent url(../images/icons/logo_plane-orange.png) no-repeat center/ 64px 64px;
  left: -64px;
  transition: all 0.5s ease-in;
  /* transition-delay: 0.1s; */
}
#bgBot {
  position: absolute;
  background-color: #4b0d62;
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease;
}
#bgBot.open {
  transform: translate(0, 100%);
}

#preloader .loader {
  position: absolute;
  margin: 0 auto;
  width: 40px;
}
#preloader .loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#preloader .circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#preloader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: white;
  -webkit-stroke: white;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

/* Disable / Enable */

.helper-no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Quick center position */

.helper-centerbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.helper-centerV {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.helper-centerH {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/* Quick show/hide element */

.helper-hide,
.helper-force-hide {
  display: none !important;
}

/* Quick layout position */

.helper-snap-topleft {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}
.helper-snap-topright {
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
}
.helper-snap-bottomleft {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
}
.helper-snap-bottomright {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
