/*# sourceMappingURL=main.css.map */
/** Locale Setting **/
.ovl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); }

.dgt_cl {
  clear: both;
  overflow: hidden; }

.helper-hide {
  display: none; }

.helper-force-hide {
  display: none !important; }

/*
  Tiny Scrollbar
 */
.scrolled {
  width: 100%; }

.scrolled .g-viewport {
  height: 100%;
  overflow: hidden;
  position: relative; }

.scrolled .g-overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px 0 0;
  width: 100%; }

.scrolled .g-thumb .end,
.scrolled .g-thumb {
  background: url(../images/custas.png) no-repeat;
  background-size: 25px; }

.scrolled .g-scrollbar {
  position: relative;
  float: right;
  width: 25px; }

.scrolled .g-track {
  height: 100%;
  width: 25px;
  position: relative;
  background: url(../images/bg-tinyscroll.png) repeat-y center top; }

.scrolled .g-thumb {
  height: 20px;
  width: 25px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0; }

.scrolled .g-thumb .end {
  overflow: hidden;
  height: 5px;
  width: 25px; }

.scrolled .g-disable {
  display: none; }

.g-noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none; }

.styled {
  display: none; }

.checkbox,
.radio {
  width: 25px;
  height: 25px;
  background: url(../images/checkbox.png) no-repeat;
  display: inline-block; }

.radio {
  background: url(../images/radio.png) no-repeat;
  cursor: pointer; }

input[type="text"],
input[type="password"] {
  background: transparent;
  line-height: 1;
  height: 48px;
  border-radius: 25px;
  font-size: 16px;
  color: #000;
  width: 100%;
  padding: 2px 20px 0 20px;
  border: 1px solid #707070; }
  input[type="text"]:focus::-webkit-input-placeholder,
  input[type="password"]:focus::-webkit-input-placeholder {
    opacity: 0; }

input[type="text"]::selection,
input[type="password"]::selection,
textarea::selection {
  background: #ededed;
  text-shadow: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: none; }

p {
  font-size: 0.875rem; }

/*
 * Neat Grid settings
 */
/*
 *  Links color
 */
/** Vendor **/
/*$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 1) !default; // Gutter between each two columns
$grid-columns: 12 !default; // Total number of columns in the grid
$max-width: em(1088) !default; // Max-width of the outer container
$border-box-sizing: true !default; // Makes all elements have a border-box layout
$default-feature: min-width; // Default @media feature for the breakpoint() mixin
$default-layout-direction: LTR !default;*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/** Partials **/
/*
 * typography.scss
 *
 * $Rev:: 13112         $:  Revision of last commit
 * $Author:: lilee      $:  Author of last commit
 * $Date:: 2014-07-30 1#$:  Date of last commit
*/
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "VNFGotham";
  src: url("../fonts/VNFGotham.eot");
  src: url("../fonts/VNFGotham.eot") format("embedded-opentype"), url("../fonts/VNFGotham.woff2") format("woff2"), url("../fonts/VNFGotham.woff") format("woff"), url("../fonts/VNFGotham.ttf") format("truetype"), url("../fonts/VNFGotham.svg#VNFGotham") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-style: normal;
  font-weight: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans-Regular", Helvetica, Verdana, Roboto, sans-serif;
  font-weight: normal; }

h1 {
  font-size: 2.5em;
  line-height: 1.05; }

h2 {
  font-size: 1.625em;
  line-height: 1.15385; }

h3 {
  font-size: 1.5em;
  line-height: 1.16667; }

h4 {
  font-size: 1.25em;
  line-height: 1.2; }

h5 {
  font-size: 1.125em;
  line-height: 1.33333; }

h6 {
  font-size: 0.875em;
  line-height: 1.42857; }

strong {
  font-weight: bold; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a {
  display: flex; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.13); }

html {
  -webkit-backface-visibility: hidden;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
  background: #4b0d62; }

body {
  max-width: 100%;
  min-height: 100%;
  background: #fff;
  font-family: "OpenSans-Regular", Helvetica, Verdana, Roboto, sans-serif;
  font-weight: normal;
  color: #000;
  line-height: 1.5;
  position: relative;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #ccc;
  text-shadow: none; }

::selection {
  background: #ccc;
  text-shadow: none; }

/*
 * Inputs placeholder default colour and size
 */
::-webkit-input-placeholder {
  color: #000; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #000; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000; }

:-ms-input-placeholder {
  color: #000; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 0; }

/*
 * Remove default Paragraph styles.
 */
p {
  margin: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

textarea,
input {
  outline: none; }

:focus {
  outline-color: transparent;
  outline-style: none; }

/** CQ Resets **/
#CQ * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  #CQ * fieldset label {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }
  #CQ * input {
    vertical-align: baseline; }

.container {
  width: 100%;
  max-width: calc(1180px + 15px * 2);
  margin: 0 auto;
  padding: 0 15px; }

.btn {
  line-height: 40px;
  height: 40px;
  background-color: #d09910;
  border: 0 none;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: normal;
  overflow: hidden;
  display: inline-block;
  padding-left: 0;
  padding-right: 20.5px;
  transition: all 0.6s cubic-bezier(0.99, 0, 0.41, 1); }
  .btn.primary {
    background-color: #4b0d62; }
  .btn:before {
    content: "";
    opacity: 0;
    transform: translateX(-100%) scale(0.1);
    transform-origin: left center; }
  .btn span,
  .btn .iconBtn {
    display: inline-block;
    opacity: 1;
    transform-origin: right center; }
    .btn span.iconFAQ,
    .btn .iconBtn.iconFAQ {
      background-image: url(../images/icons/icon_faq.png);
      vertical-align: top; }
  .btn .iconBtn, .btn:before {
    height: 100%;
    width: 14px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/icons/icon_right-arrow.png) no-repeat center/100% auto;
    transition: transform 0.6s cubic-bezier(0.99, 0, 0.41, 1), opacity 0.5s cubic-bezier(0.99, 0, 0.41, 1); }
  .btn:hover {
    text-align: center;
    padding-left: 15px;
    padding-right: 5.5px; }
    .btn:hover .iconBtn {
      transform: translateX(100%) scale(0.1);
      opacity: 0; }
    .btn:hover:before {
      transform: translateX(0) scale(1);
      opacity: 1; }
  .btn.btnFaq {
    position: fixed;
    text-transform: uppercase;
    font-family: "OpenSans-Semibold", sans-serif;
    height: 30px;
    line-height: 30px;
    left: 0;
    bottom: 5.72%;
    transform: rotate(-90deg);
    transform-origin: left top;
    padding-left: 10px;
    padding-right: 10px; }
    .btn.btnFaq:hover {
      text-align: center;
      padding-left: 2px;
      padding-right: 18px; }
      .btn.btnFaq:hover .iconBtn {
        transform: translateX(-100%); }
    .btn.btnFaq:before {
      content: unset; }

.btnMessenger {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  right: 2.5rem;
  bottom: 10rem;
  z-index: 1; }
  .btnMessenger img {
    width: 100%; }

.btnToggleBooking {
  position: fixed;
  right: -4rem;
  bottom: 0;
  z-index: 6;
  width: 4rem;
  transition: all 0.4s ease-out; }
  .btnToggleBooking img {
    width: 100%; }
  .btnToggleBooking.fixed {
    right: -5px; }
  .btnToggleBooking:hover {
    right: 0; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    list-style: none; }

table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0; }

::-webkit-scrollbar {
  width: 3px;
  height: 3px; }

::-webkit-scrollbar-thumb {
  background: #4b0d62; }

::-webkit-scrollbar-track {
  background: #f8f8f8; }

section {
  min-height: 250px; }

h2 {
  font-family: "OpenSans-ExtraBold", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3.625rem;
  color: #4b0d62; }

.sectionTitle {
  position: relative;
  display: block;
  margin: 3.75rem 0;
  margin-top: 3.75rem;
  line-height: 1;
  white-space: nowrap;
  padding-left: 1rem; }
  .sectionTitle .heading,
  .sectionTitle .subtitle {
    position: relative;
    z-index: 2; }
  .sectionTitle:after {
    position: absolute;
    left: -6.25rem;
    top: 50%;
    color: #f8f8f8;
    transform: translateY(-50%);
    z-index: -1;
    font-size: 200%; }
  .sectionTitle:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 2.625rem;
    width: 3px;
    background-color: #d09910;
    transform: translateY(-50%);
    z-index: 2; }
  .sectionTitle .textEffects {
    position: absolute;
    left: -6.25rem;
    top: 50%;
    color: #f8f8f8;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 200%; }
    .sectionTitle .textEffects span {
      display: inline;
      float: left;
      white-space: pre; }
  .sectionTitle .subtitle {
    font-size: 1.5rem; }
    .sectionTitle .subtitle span {
      font-family: "OpenSans-Light", sans-serif;
      text-transform: lowercase; }
    .sectionTitle .subtitle select {
      color: #d09910;
      font-family: "OpenSans-Bold", sans-serif;
      font-weight: normal;
      font-size: 1.75rem; }
    .sectionTitle .subtitle .dropdownIcon {
      display: inline-block;
      right: 0;
      top: 50%;
      width: 14px;
      height: 8px;
      margin-top: -4px; }
      .sectionTitle .subtitle .dropdownIcon img {
        width: 100%; }
  .sectionTitle.withSubTitle:before {
    height: 90%;
    transform: translateY(-45%); }
  .sectionTitle.withSubTitle:after,
  .sectionTitle.withSubTitle .textEffects {
    font-size: 180%; }

.bg-transparent {
  background: transparent !important; }

.w-100 {
  width: 100% !important; }

.w-50 {
  width: 50% !important; }

.slick-dots {
  line-height: 1;
  font-size: 0; }
  .slick-dots li {
    display: inline-block;
    padding: 0 5px; }
  .slick-dots button {
    font-size: 0;
    border: 0 none;
    outline: 0 none;
    height: 3px;
    min-width: 50px;
    background: #b6b0b7; }
  .slick-dots .slick-active button {
    background-color: #d09910; }

.slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  border: 0 none;
  outline: 0 none;
  width: 30px;
  transform: translate(0, -50%);
  background-color: transparent;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; }

.slick-prev {
  left: 0;
  background-image: url(../images/icons/icon_left-arrow-yellow.png); }

.slick-next {
  right: 0;
  background-image: url(../images/icons/icon_right-arrow-yellow.png); }

.gifScale {
  width: 100%;
  opacity: 0;
  z-index: -1; }

.itemLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#booking {
  width: 100%;
  position: relative;
  z-index: 7; }
  #booking.fixed {
    position: fixed;
    width: 1180px;
    bottom: 0; }
    #booking.fixed .tabFilter p {
      border: 0 none;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
    #booking.fixed .row.second .select-items {
      top: unset;
      bottom: 100%; }
  #booking .tabFilter {
    width: 100%;
    font-size: 0; }
    #booking .tabFilter p {
      cursor: pointer;
      display: inline-block;
      width: calc(100% / 7);
      text-transform: uppercase;
      line-height: 50px;
      height: 50px;
      color: #fff;
      transition: all 1s ease-in;
      background: #4b0d62;
      border-left: 1px solid #b6b0b7;
      text-align: center;
      font-family: "OpenSans-Bold", sans-serif;
      font-weight: normal;
      font-size: 0.6875rem; }
      #booking .tabFilter p:hover {
        background: #6d138f;
        transition: all 0.4s ease; }
      #booking .tabFilter p.active {
        color: #4b0d62;
        background: #fff;
        border-color: transparent; }
        #booking .tabFilter p.active .activeIcon {
          opacity: 1; }
        #booking .tabFilter p.active .unActiveIcon {
          opacity: 0; }
  #booking .tabIcon {
    position: relative;
    display: inline-block;
    height: 1rem;
    min-width: 20px;
    margin-right: 10px;
    vertical-align: middle; }
    #booking .tabIcon > img {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 100%;
      transition: all 0.2s ease; }
  #booking .activeIcon {
    opacity: 0; }
  #booking .tabContentWrap {
    width: 100%; }
  #booking .tabContentReel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 1s cubic-bezier(1, 0, 0.68, 0.93);
    transition-delay: 0.1s; }
  #booking .tabContent {
    display: none;
    width: 100%;
    color: #69656a;
    padding: 12px 25px 20px;
    background-color: #fff; }
    #booking .tabContent.active {
      display: block; }
  #booking .row {
    font-size: 0;
    margin-bottom: 15px;
    vertical-align: middle; }
    #booking .row.first label {
      font-size: 0.75rem;
      color: #69656a; }
    #booking .row.first .formControl {
      padding-left: 26px;
      margin-right: 22px;
      cursor: pointer;
      user-select: none;
      height: auto;
      line-height: unset;
      background-color: transparent; }
      #booking .row.first .formControl:hover .checkmark {
        background-color: #eee; }
    #booking .row.first input:checked + .checkmark:after {
      display: block; }
    #booking .row.second .formControl {
      position: relative;
      width: calc(50% - 10px);
      padding-right: 10px; }
      #booking .row.second .formControl:first-child {
        margin-right: 10px; }
      #booking .row.second .formControl:last-child {
        margin-left: 10px; }
    #booking .row.second label {
      position: absolute;
      top: 0;
      left: 10px;
      height: 50%;
      line-height: 22px;
      color: #69656a;
      font-size: 0.75rem;
      display: block; }
    #booking .row.second select {
      display: none;
      /*hide original SELECT element:*/ }
    #booking .row.third {
      margin-bottom: 0; }
      #booking .row.third .formControl {
        width: 13.4%; }
        #booking .row.third .formControl label {
          position: absolute;
          left: 10px;
          top: 0;
          z-index: 1; }
        #booking .row.third .formControl .unit {
          position: relative;
          font-size: 1rem;
          color: #000;
          left: 0; }
          #booking .row.third .formControl .unit.withoutValueLabel {
            display: none; }
          #booking .row.third .formControl .unit.withValueLabel {
            display: inline; }
      #booking .row.third .dateInputControl {
        margin-right: 10px;
        width: calc(40.8% - 10px); }
      #booking .row.third .passengerDropdown {
        position: absolute;
        width: 100%;
        left: 0;
        top: -100%;
        opacity: 0;
        border-top: 1px solid white;
        transition: top 0.3s ease, opacity 0.2s, z-index 0.5s;
        z-index: -99; }
      #booking .row.third .passengersInputControl,
      #booking .row.third .passengerControlWrap {
        width: calc(24.6% - 10px);
        margin-right: 10px; }
      #booking .row.third .dropdownToggler {
        position: absolute;
        top: 18px;
        right: 10px;
        width: 0;
        height: 0;
        padding: 0;
        border: 6px solid transparent;
        border-color: #4b0d62 transparent transparent transparent;
        z-index: 3; }
        #booking .row.third .dropdownToggler.openSelect {
          border-color: transparent transparent #4b0d62 transparent;
          top: 12px; }
          #booking .row.third .dropdownToggler.openSelect + .passengerDropdown {
            opacity: 1;
            z-index: 1;
            top: 100%;
            transition: top 0.3s ease, opacity 0.5s, z-index 0.5s; }
      #booking .row.third .passengersInputControl2 {
        position: relative;
        background-color: #E9E9E9;
        line-height: 22px;
        height: 44px; }
        #booking .row.third .passengersInputControl2 .inputWrap {
          position: absolute;
          width: 37%;
          height: 100%;
          right: 0;
          top: 0; }
        #booking .row.third .passengersInputControl2 .infoValueLabel {
          font-size: 0.75rem;
          position: relative;
          color: #000;
          line-height: 0.3; }
        #booking .row.third .passengersInputControl2 .infoShort {
          font-size: 1rem;
          color: #69656a;
          display: block;
          left: 0;
          padding-left: 10px;
          line-height: 1.7; }
        #booking .row.third .passengersInputControl2:not(:last-child):after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 90%;
          height: 1px;
          background-color: #fff;
          left: 50%;
          transform: translateX(-50%); }
        #booking .row.third .passengersInputControl2 input {
          text-align: center;
          padding: 0 30px;
          z-index: 1; }
      #booking .row.third .promotionInputControl {
        width: calc(21.2% - 10px);
        margin-right: 10px; }
        #booking .row.third .promotionInputControl input {
          text-transform: uppercase; }
      #booking .row.third input {
        position: relative;
        height: 100%;
        border-radius: 0;
        color: #000;
        padding: 16px 0 0 10px;
        font-size: 1rem;
        width: 100%;
        cursor: pointer;
        z-index: 2; }
      #booking .row.third #passengers {
        padding-left: 10px;
        width: auto;
        max-width: 1.5em;
        display: inline-block; }
        #booking .row.third #passengers.small {
          max-width: 1.5em; }
        #booking .row.third #passengers.large {
          max-width: 2em; }
        #booking .row.third #passengers.huge {
          max-width: 2.5em; }
      #booking .row.third input::-webkit-outer-spin-button,
      #booking .row.third input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */ }
      #booking .row.third .withoutValueLabel {
        height: 100%;
        line-height: 44px;
        color: #69656a;
        font-size: 1rem; }
        #booking .row.third .withoutValueLabel + input {
          opacity: 0; }
      #booking .row.third .withValueLabel {
        height: 50%;
        line-height: 22px;
        color: #69656a;
        font-size: 0.75rem; }
      #booking .row.third .arrowBtn {
        position: absolute;
        border: 0 none;
        outline: 0 none;
        border-radius: 50%;
        background: #c4c4c4;
        height: 1rem;
        width: 1rem;
        line-height: 1rem;
        left: 10px;
        top: calc(50% - 0.5rem);
        padding: 0;
        z-index: 2; }
        #booking .row.third .arrowBtn img {
          width: 50%; }
        #booking .row.third .arrowBtn.up {
          right: 10px;
          left: unset; }
      #booking .row.third .submitFormBtn {
        width: 100%;
        vertical-align: middle; }
  #booking .formControl {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #E9E9E9;
    height: 44px;
    line-height: 44px;
    /*style the items (options), including the selected item:*/
    /*style items (options):*/
    /*hide the items when the select box is closed:*/ }
    #booking .formControl.disabled label {
      color: black; }
    #booking .formControl.disabled input {
      background-color: #69656a; }
    #booking .formControl.withoutValue label {
      display: none; }
    #booking .formControl.withoutValue .select-selected {
      color: #69656a;
      font-family: "OpenSans-Regular", sans-serif;
      height: 100%;
      margin-top: 0; }
    #booking .formControl.dateInputControl label, #booking .formControl.customSelectWrap label {
      position: absolute;
      left: 10px;
      top: 0;
      z-index: 1; }
    #booking .formControl.dateInputControl .withoutValueLabel, #booking .formControl.customSelectWrap .withoutValueLabel {
      height: 100%;
      line-height: 44px;
      color: #69656a;
      font-size: 1rem; }
      #booking .formControl.dateInputControl .withoutValueLabel + input, #booking .formControl.customSelectWrap .withoutValueLabel + input {
        opacity: 0; }
    #booking .formControl.dateInputControl .withValueLabel, #booking .formControl.customSelectWrap .withValueLabel {
      height: 50%;
      line-height: 22px;
      color: #69656a;
      font-size: 0.75rem; }
    #booking .formControl input {
      border-radius: 0;
      border: 0 none;
      background-color: transparent;
      line-height: 44px; }
    #booking .formControl .select-selected {
      background-color: #E9E9E9;
      font-size: 1rem;
      height: 100%;
      height: calc(100% - 5px);
      margin-top: 5px;
      /*style the arrow inside the select element:*/
      /*point the arrow upwards when the select box is open (active):*/ }
      #booking .formControl .select-selected:after {
        content: "";
        position: absolute;
        top: 18px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #4b0d62 transparent transparent transparent; }
      #booking .formControl .select-selected.select-arrow-active:after {
        border-color: transparent transparent #4b0d62 transparent;
        top: 12px; }
    #booking .formControl .select-items div,
    #booking .formControl .select-selected {
      color: #000;
      border: 0 none;
      cursor: pointer;
      user-select: none;
      font-size: 1rem;
      font-family: "OpenSans-Bold", sans-serif;
      font-weight: normal;
      padding-left: 10px; }
    #booking .formControl .select-items {
      position: absolute;
      background-color: #fff;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
      border: 1px solid #E9E9E9;
      border-top: 0 none; }
      #booking .formControl .select-items div {
        border-bottom: 1px solid rgba(75, 13, 98, 0.2); }
        #booking .formControl .select-items div:last-child {
          border-bottom: 0 none; }
    #booking .formControl .select-hide {
      display: none; }
    #booking .formControl .select-items div:hover,
    #booking .formControl .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1); }
  #booking .submitInputControl {
    background-color: transparent; }
  #booking input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 1; }
  #booking .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%; }
    #booking .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      width: 10px;
      height: 10px;
      top: 3px;
      left: 3px;
      background-color: #d09910;
      border-radius: 50%; }
  #booking .providedLogo {
    width: 143px; }
    #booking .providedLogo img {
      width: 100%; }
  #booking .dateInputControl {
    background-color: transparent; }
    #booking .dateInputControl .dropBtn {
      position: relative;
      width: calc(50% - 5px);
      display: inline-block;
      height: 100%;
      background-color: #E9E9E9; }
      #booking .dateInputControl .dropBtn:first-child {
        margin-right: 5px; }
      #booking .dateInputControl .dropBtn:last-child {
        margin-left: 5px; }
      #booking .dateInputControl .dropBtn:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 11px;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background: white url(../images/icons/icon_calendar.png) no-repeat center/100% auto; }
    #booking .dateInputControl input {
      padding: 16px 0 0 10px; }

#tab2 p {
  font-size: 0.75rem; }

#checkinform {
  margin-top: 17px; }
  #checkinform label {
    font-size: 1rem; }
  #checkinform input {
    font-size: 1rem; }
  #checkinform .row {
    margin-bottom: 0; }
    #checkinform .row .formControl {
      width: calc(50% - 10px);
      margin-left: 10px; }
      #checkinform .row .formControl:first-child {
        margin-right: 10px;
        margin-left: 0; }
  #checkinform .additionalOptions {
    display: inline-block;
    width: 90%; }
    #checkinform .additionalOptions.hide {
      max-height: 0;
      overflow: hidden;
      display: none; }
    #checkinform .additionalOptions.show {
      max-height: unset; }
      #checkinform .additionalOptions.show + .submitInputControl {
        margin-top: 0; }
  #checkinform .submitInputControl {
    float: right;
    margin-top: 10px; }

.dynamicPadding {
  position: absolute;
  left: 10px; }
  .dynamicPadding + input {
    height: 44px; }

.additionalOptionToggle {
  position: relative;
  padding-right: 20px;
  border: 0 none;
  outline: 0 none;
  background-color: transparent;
  font-size: 0.75rem; }
  .additionalOptionToggle:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #4b0d62 transparent transparent transparent; }
  .additionalOptionToggle.showing:after {
    border-color: transparent transparent #4b0d62 transparent;
    top: 12px; }

#hotelbookingform select {
  display: none; }

#hotelbookingform .row .formControl {
  width: calc(50% - 10px);
  margin-left: 10px; }
  #hotelbookingform .row .formControl:first-child {
    margin-left: 0;
    margin-right: 10px; }

#hotelbookingform .submitInputControl {
  float: right; }

.providedByWrap {
  display: inline-block; }
  .providedByWrap p {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75rem;
    margin-right: 10px; }

#extrabaggageform .formControl:first-child,
#additionalserviceform .formControl:first-child {
  width: calc(84% - 20px);
  margin-right: 20px; }

#extrabaggageform label,
#additionalserviceform label {
  font-size: 1rem; }

#extrabaggageform input,
#additionalserviceform input {
  font-size: 1rem;
  padding-top: 0; }

#extrabaggageform .submitFormBtn,
#additionalserviceform .submitFormBtn {
  vertical-align: middle; }

.listIconAncillary p {
  display: inline-block;
  white-space: nowrap;
  color: #b6b0b7;
  font-size: 0.625rem;
  margin-right: 1.25rem; }

.listIconAncillary img {
  display: inline-block;
  vertical-align: middle;
  max-width: 10px; }

header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6; }
  header .container {
    position: relative; }
  header a {
    color: #fff;
    transition: all 0.3s ease-out; }
    header a:hover {
      color: #d09910; }
  header .logoWrap {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%); }
  header .logoAngkor img {
    width: 300px; }
  header .logoAngkorWards img {
    width: 100px; }
  header nav {
    text-align: right; }
  header #submenu > li,
  header #nav > li {
    display: inline-block; }
  header #submenu {
    margin-top: 4px;
    margin-right: -13px;
    font-size: 0.6875rem; }
    header #submenu > li {
      padding: 0 13px;
      position: relative; }
      header #submenu > li:not(:first-child) {
        border-left: 1px solid #fff; }
    header #submenu .topNavBtn {
      display: inline-block;
      vertical-align: middle; }
      header #submenu .topNavBtn img {
        width: 15px; }
    header #submenu .searchHolder {
      width: 0;
      transition: all 0.3s ease-in-out 0s;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle; }
      header #submenu .searchHolder input {
        color: #fff;
        border: none;
        max-width: 150px;
        padding-right: 5px;
        font-family: inherit;
        background: transparent;
        border-bottom: 1px solid transparent; }
        header #submenu .searchHolder input:focus {
          outline: none; }
        header #submenu .searchHolder input::-webkit-input-placeholder {
          color: #fff; }
        header #submenu .searchHolder input:-moz-placeholder {
          color: #fff; }
        header #submenu .searchHolder input::-moz-placeholder {
          color: #fff; }
        header #submenu .searchHolder input:-ms-input-placeholder {
          color: #fff; }
      header #submenu .searchHolder input::-webkit-search-decoration,
      header #submenu .searchHolder input::-webkit-search-cancel-button {
        -webkit-appearance: none; }
      header #submenu .searchHolder.visible {
        width: 80%; }
        header #submenu .searchHolder.visible input {
          border-bottom-color: #fff; }
  header #nav {
    margin-top: 20px;
    font-family: "OpenSans-Bold", sans-serif;
    font-weight: normal; }
    header #nav li {
      vertical-align: top; }
    header #nav a {
      margin-left: 2.5rem;
      font-size: 0.875rem; }
  header .dropdownToggler {
    position: relative;
    cursor: pointer;
    padding-right: 25px; }
    header .dropdownToggler::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 10px;
      height: 6px;
      background: url("../images/icons/icon_dropdown-arrow.png") no-repeat center/10px 6px;
      margin-top: -3px;
      transform: rotate(0deg);
      z-index: 1;
      transition: all 0.2s ease-in; }
    header .dropdownToggler.openSelect::after {
      transform: rotate(180deg);
      transition: all 0.2s ease-in; }
    header .dropdownToggler.openSelect .dropdownOptions {
      opacity: 1;
      z-index: 0;
      transition: all 0.3s ease-in; }
    header .dropdownToggler a,
    header .dropdownToggler p {
      display: block;
      text-align: left;
      color: #fff; }
      header .dropdownToggler a > *,
      header .dropdownToggler p > * {
        display: inline-block;
        vertical-align: middle; }
    header .dropdownToggler img {
      width: 20px;
      margin-right: 5px; }
    header .dropdownToggler .dropdownOptions {
      position: absolute;
      top: 100%;
      left: -5px;
      width: calc(100% + 10px);
      background-color: #fff;
      opacity: 0;
      z-index: -9999;
      transition: all 0.3s ease-in; }
      header .dropdownToggler .dropdownOptions a {
        padding: 5px;
        background-color: #fff;
        transition: all 0.2s ease-in;
        color: #4b0d62;
        border-bottom: 1px solid rgba(105, 101, 106, 0.1);
        white-space: nowrap; }
        header .dropdownToggler .dropdownOptions a:hover {
          background-color: #e6e6e6; }

footer {
  background: #fff; }
  footer .container {
    transition: all 0.5s ease-in; }
  footer .ttCat {
    color: #d09910;
    font-size: 1.125rem;
    line-height: 1.125rem;
    height: 1.125rem;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-weight: normal; }
  footer .ttSubCat {
    color: #69656a;
    font-size: 0.6875rem;
    font-family: "OpenSans-Bold", sans-serif;
    font-weight: normal;
    margin: 0; }
  footer .iconCategory {
    display: inline-block;
    height: 13px;
    margin-right: 6px; }
    footer .iconCategory img {
      height: 100%;
      width: auto; }
  footer .iconSubCategory {
    display: inline-block;
    height: 7px;
    margin-right: 4px; }
    footer .iconSubCategory img {
      height: 100%;
      width: auto; }
  footer .iconAwards {
    width: 20%; }
    footer .iconAwards img {
      width: 100%; }
  footer .linkCat {
    font-size: 0.6875rem;
    font-family: "OpenSans-Light", sans-serif;
    color: #69656a;
    line-height: 1.75rem;
    transition: all 0.2s ease-in; }
    footer .linkCat:hover {
      text-decoration: underline; }
  footer .subCat {
    *zoom: 1;
    margin: 5px 0; }
    footer .subCat:before, footer .subCat:after {
      content: " ";
      display: table; }
    footer .subCat:after {
      clear: both; }
    footer .subCat > * {
      display: inline-block;
      vertical-align: top; }
    footer .subCat .catLeft {
      width: 15.67%; }
    footer .subCat .catRight {
      width: 84.33%;
      float: right;
      padding-left: 20px; }
      footer .subCat .catRight > * {
        font-family: "OpenSans-Light", sans-serif;
        color: #69656a;
        font-size: 0.6875rem; }
  footer .catFlag {
    display: inline-block;
    width: 20px; }
    footer .catFlag img {
      width: 100%; }
  footer .subCatList {
    display: flex;
    flex-direction: column; }
  footer .socialLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 -10px;
    width: 100%; }
    footer .socialLinks li {
      width: calc(100% / 3);
      padding: 0 10px; }
    footer .socialLinks img {
      width: 100%;
      transition: all 0.2s ease; }
    footer .socialLinks a:hover img {
      transform: scale(0.9); }

.row5 {
  font-size: 0; }
  .row5 .col {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 5); }

.rowContact .col {
  display: inline-block;
  vertical-align: top;
  width: 20%; }
  .rowContact .col.first {
    width: 51%; }
  .rowContact .col.second {
    width: 28%;
    padding-left: 40px;
    padding-right: 40px; }
  .rowContact .col.third {
    padding-right: 3rem; }

.rowContact a {
  display: inline;
  color: #69656a;
  transition: all 0.2s ease-in; }
  .rowContact a:hover {
    text-decoration: underline; }

.rowMain {
  height: 60px;
  line-height: 60px;
  font-size: 0.875rem;
  font-family: "OpenSans-Light", sans-serif;
  color: #69656a;
  background-color: #f8f8f8;
  *zoom: 1; }
  .rowMain:before, .rowMain:after {
    content: " ";
    display: table; }
  .rowMain:after {
    clear: both; }
  .rowMain .footLeft {
    float: left;
    height: 100%; }
  .rowMain .footRight {
    float: right;
    height: 100%; }
    .rowMain .footRight a {
      display: inline;
      padding: 0 20px;
      color: #69656a;
      transition: all 0.2s ease-in; }
      .rowMain .footRight a:not(:first-child) {
        border-left: 1px solid #69656a; }
      .rowMain .footRight a:hover {
        color: #d09910; }

#pHome #banner {
  padding-top: 93px;
  background: url(../images/backgrounds/bg_banner.jpg) no-repeat center bottom/cover;
  min-height: 100vh;
  height: 100vh; }
  #pHome #banner .container {
    height: 100%;
    position: relative;
    transition: all 0.5s ease-in; }

#pHome .bannerWrap {
  position: relative;
  bottom: 0;
  width: 100%;
  transition: all 0.4s ease; }

#pHome #bannerHero {
  *zoom: 1;
  margin-top: 21px;
  margin-bottom: 21px; }
  #pHome #bannerHero:before, #pHome #bannerHero:after {
    content: " ";
    display: table; }
  #pHome #bannerHero:after {
    clear: both; }
  #pHome #bannerHero .heroImg {
    position: relative;
    width: 59%;
    float: left; }
    #pHome #bannerHero .heroImg img {
      width: 100%; }
  #pHome #bannerHero .originText,
  #pHome #bannerHero .midText,
  #pHome #bannerHero .destText {
    position: absolute;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    line-height: 1; }
  #pHome #bannerHero .originText {
    font-size: 3.625rem;
    left: 0;
    top: 20%; }
  #pHome #bannerHero .midText {
    font-size: 2.5rem;
    top: 38%;
    left: 18%; }
  #pHome #bannerHero .destText {
    font-size: 4rem;
    color: #4b0d62;
    left: 11.5%;
    bottom: 16.4%; }
  #pHome #bannerHero .bannerEl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #pHome #bannerHero .elAirplane.animate {
    animation: flowing 10s linear alternate infinite; }

@keyframes flowing {
  0% {
    margin-top: -3%;
    transform: scale(1.03); }
  50% {
    margin-top: 0%;
    transform: scale(1); }
  100% {
    margin-top: 3%;
    transform: scale(1.03); } }
  #pHome #bannerHero .heroInfo {
    width: 41%;
    float: right;
    padding-left: 20px;
    text-align: left; }
    #pHome #bannerHero .heroInfo h4 {
      font-size: 1.5rem;
      color: #4b0d62;
      text-transform: uppercase;
      margin: 0; }
    #pHome #bannerHero .heroInfo h2 {
      color: #f15a22;
      font-family: "OpenSans-ExtraBold", sans-serif;
      font-weight: normal;
      font-size: 3.625rem;
      text-transform: uppercase;
      margin: 10px 0 0; }
    #pHome #bannerHero .heroInfo h3 {
      color: #f15a22;
      font-family: "OpenSans-ExtraBold", sans-serif;
      font-weight: normal;
      font-size: 2.375rem;
      margin: 0 0 25px; }
    #pHome #bannerHero .heroInfo p {
      color: #69656a;
      margin-bottom: 18px; }
  #pHome #bannerHero .slick-dots {
    text-align: center; }

#pHome #offers .container {
  text-align: center; }

#pHome #offers .sectionTitle {
  text-align: left;
  margin-top: 40px; }

#pHome .offerWrap {
  *zoom: 1;
  font-size: 0;
  text-align: left; }
  #pHome .offerWrap:before, #pHome .offerWrap:after {
    content: " ";
    display: table; }
  #pHome .offerWrap:after {
    clear: both; }

#pHome .offerItem {
  position: relative;
  width: 27.15%;
  float: left;
  padding-left: 20px;
  margin-bottom: 20px; }
  #pHome .offerItem:hover .itemImg {
    background-size: 105% auto; }
  #pHome .offerItem:hover h3 span {
    transform: translate(40%, -50%);
    opacity: 0; }
  #pHome .offerItem .itemLink {
    transition: all 0.25s ease-in; }

#pHome .firstItem {
  width: 45.7%;
  padding-left: 0;
  margin-bottom: 2.07rem; }
  #pHome .firstItem .itemImg {
    width: 100%; }
  #pHome .firstItem .itemInfo {
    margin-top: 1rem;
    padding-left: 0;
    width: 41%; }
    #pHome .firstItem .itemInfo .down {
      position: relative;
      width: 100%; }
    #pHome .firstItem .itemInfo h5 {
      font-size: 0.875rem;
      display: inline-block; }
    #pHome .firstItem .itemInfo h4 {
      font-size: 1.75rem; }
    #pHome .firstItem .itemInfo h3 {
      position: static;
      display: inline-block;
      padding-left: 10px;
      font-size: 1.5rem; }

#pHome .itemImg {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 46.8%;
  display: inline-block;
  transition: all 0.45s ease-out; }

#pHome .itemInfo {
  width: 46.3%;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px; }
  #pHome .itemInfo .down {
    width: calc(46.3% - 10px);
    position: absolute;
    bottom: 0; }
  #pHome .itemInfo h5 {
    font-family: "OpenSans-Light", sans-serif;
    color: #69656a;
    font-size: 0.625rem;
    margin: 0; }
  #pHome .itemInfo h4 {
    margin: 0;
    color: #4b0d62;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-weight: normal;
    font-size: 0.9375rem;
    text-transform: uppercase; }
  #pHome .itemInfo h3 {
    position: relative;
    color: #d09910;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 1.375rem;
    margin: 0; }
    #pHome .itemInfo h3 span {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 10.27%;
      transition: all 0.45s ease; }
      #pHome .itemInfo h3 span img {
        width: 100%; }
  #pHome .itemInfo .top h5 {
    text-transform: uppercase; }

#pHome #promo .promoWrap {
  font-size: 0;
  margin: 0 -9.86px; }

#pHome #promo .promoItem {
  position: relative;
  width: calc(100% / 3 - 20px);
  display: inline-block;
  margin: 0 9.86px 20px; }
  #pHome #promo .promoItem:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    border: 3px solid transparent;
    box-sizing: border-box; }
  #pHome #promo .promoItem:hover:after {
    border-color: #d09910; }

#pHome #promo .itemImg {
  width: 100%; }

#pHome #news .newsHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch; }

#pHome #news .mgzWrap {
  position: relative;
  width: 45.7%;
  padding: 40px 40px 60px;
  background-color: #f8f8f8;
  display: inline-block; }

#pHome #news .mgzSlider {
  margin: 0 -10px; }

#pHome #news .mgzItem {
  padding: 0 10px; }
  #pHome #news .mgzItem img {
    width: 100%; }

#pHome #news .slick-dots {
  margin-top: 40px;
  margin-left: 5px; }

#pHome #news .linkToMgz {
  position: absolute;
  right: 40px;
  bottom: 40px; }

#pHome #news .newsWrap {
  position: relative;
  padding-left: 20px;
  width: 54.3%;
  float: right;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }
  #pHome #news .newsWrap h2 {
    margin: 0;
    margin-left: -4px;
    line-height: 2.6rem; }
  #pHome #news .newsWrap .linkToNews {
    position: absolute;
    top: 0;
    right: 0; }
  #pHome #news .newsWrap .newsList {
    flex: 1; }
  #pHome #news .newsWrap .newsItem {
    position: relative;
    width: 100%;
    height: calc(100% / 3);
    padding-top: 20px; }
    #pHome #news .newsWrap .newsItem:hover .itemLink {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
    #pHome #news .newsWrap .newsItem:hover p span {
      transform: translateX(5px); }
  #pHome #news .newsWrap .itemLink {
    transition: all 0.25s ease-in; }
  #pHome #news .newsWrap .itemImg {
    width: 24.3%;
    display: inline-block;
    vertical-align: bottom;
    height: 100%; }
    #pHome #news .newsWrap .itemImg .gifScale {
      width: auto;
      height: 100%; }
  #pHome #news .newsWrap .itemInfo {
    width: 75.7%;
    padding-left: 20px;
    float: right; }
    #pHome #news .newsWrap .itemInfo .down {
      width: calc(76.7% - 20px); }
    #pHome #news .newsWrap .itemInfo p {
      font-size: 0.625rem;
      color: #69656a; }
      #pHome #news .newsWrap .itemInfo p span {
        width: 12px;
        display: inline-block;
        transition: all 0.25s ease-in; }
        #pHome #news .newsWrap .itemInfo p span img {
          width: 100%; }
    #pHome #news .newsWrap .itemInfo h4 {
      text-transform: unset;
      font-family: "OpenSans-Bold", sans-serif;
      font-weight: normal; }

#pHome #partners .partnerSlider {
  margin: 0 -10px;
  padding: 0 50px; }

#pHome #partners .linkToPartner {
  position: relative; }
  #pHome #partners .linkToPartner:hover .hovered {
    opacity: 1; }

#pHome #partners .partnerItem {
  padding: 0 10px; }
  #pHome #partners .partnerItem img {
    width: 100%; }
  #pHome #partners .partnerItem .hovered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    opacity: 0; }

#pHome #partners .slick-dots {
  text-align: center; }

#pHome #partners .slick-prev {
  left: 10px; }

#pHome #partners .slick-next {
  right: 10px; }

#pHome #newsletter {
  padding-top: 12rem;
  padding-bottom: 50px;
  background: white url(../images/backgrounds/bg_newsletter.jpg) no-repeat center top/cover; }
  #pHome #newsletter .title {
    display: block;
    text-align: left;
    color: #fff;
    margin-bottom: 3rem; }
    #pHome #newsletter .title h3,
    #pHome #newsletter .title h2 {
      font-family: "OpenSans-ExtraBold", sans-serif;
      font-weight: normal;
      color: #fff;
      margin: 0; }
    #pHome #newsletter .title h2 {
      font-size: 2.625rem; }
    #pHome #newsletter .title h3 {
      font-size: 1.75rem; }
  #pHome #newsletter #subcribeForm {
    font-size: 0; }
  #pHome #newsletter .formControl {
    position: relative;
    display: inline-block;
    width: calc(100% / 4);
    padding-right: 60px; }
  #pHome #newsletter input,
  #pHome #newsletter select {
    border: 0 none;
    color: #fff;
    font-size: 0.875rem;
    border-bottom: 1px solid white;
    border-radius: 0;
    padding-left: 0;
    height: 2rem;
    width: 100%; }
    #pHome #newsletter input::-webkit-input-placeholder,
    #pHome #newsletter select::-webkit-input-placeholder {
      color: #fff; }
    #pHome #newsletter input:-moz-placeholder,
    #pHome #newsletter select:-moz-placeholder {
      color: #fff; }
    #pHome #newsletter input::-moz-placeholder,
    #pHome #newsletter select::-moz-placeholder {
      color: #fff; }
    #pHome #newsletter input:-ms-input-placeholder,
    #pHome #newsletter select:-ms-input-placeholder {
      color: #fff; }
  #pHome #newsletter .dropdownIcon {
    position: absolute;
    right: 60px;
    top: 50%;
    width: 7px;
    height: 4px;
    margin-top: -2px; }
    #pHome #newsletter .dropdownIcon img {
      width: 100%; }

.onlyMB {
  display: none; }

.onlyDesktop {
  display: unset; }

@media screen and (min-height: 800px) {
  #pHome #banner {
    min-height: 650px;
    height: 650px; }
  #pHome #bannerHero {
    margin-bottom: 0; } }

@media screen and (max-width: 1280px) {
  .btnMessenger {
    bottom: 20rem;
    right: 0.5rem; } }

@media screen and (max-width: 1024px) {
  html {
    font-size: 15px; }
  header .logoAngkor img {
    width: 18rem; } }
