@include scrollbars(3px, $primary-color, $light-grey);
section {
  min-height: 250px;
}

// title
h2 {
  font-family: $OpenSansExtraBold;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3.625rem;
  color: $primary-color;
}
.sectionTitle {
  position: relative;
  display: block;
  margin: 3.75rem 0;
  margin-top: 3.75rem;
  //   line-height: 1.36;
  line-height: 1;
  white-space: nowrap;
  padding-left: 1rem;

  .heading,
  .subtitle {
    position: relative;
    z-index: 2;
  }

  &:after {
    // content: attr(data-heading);
    position: absolute;
    left: -6.25rem;
    top: 50%;
    color: $light-grey;
    transform: translateY(-50%);
    z-index: -1;
    font-size: 200%;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 2.625rem;
    width: 3px;
    background-color: $secondary-color;
    transform: translateY(-50%);
    z-index: 2;
  }

  .textEffects {
    position: absolute;
    left: -6.25rem;
    top: 50%;
    color: $light-grey;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 200%;

    span {
      display: inline;
      float: left;
      white-space: pre;
    }
  }

  .subtitle {
    font-size: 1.5rem;
    span {
      font-family: $OpenSansLight;
      text-transform: lowercase;
    }
    select {
      color: $secondary-color;
      font-family: $OpenSansBold;
      font-weight: normal;
      font-size: 1.75rem;
    }
    .dropdownIcon {
      display: inline-block;
      right: 0;
      top: 50%;
      width: 14px;
      height: 8px;
      margin-top: -4px;

      img {
        width: 100%;
      }
    }
  }

  &.withSubTitle {
    &:before {
      height: 90%;
      transform: translateY(-45%);
    }
    &:after,
    .textEffects {
      font-size: 180%;
    }
  }
}

.bg-transparent {
  background: transparent !important;
}
.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50% !important;
}

// SLICK STUFFS:
.slick-dots {
  line-height: 1;
  font-size: 0;
  li {
    display: inline-block;
    padding: 0 5px;
  }
  button {
    font-size: 0;
    border: 0 none;
    outline: 0 none;
    height: 3px;
    min-width: 50px;
    background: #b6b0b7;
  }
  .slick-active {
    button {
      background-color: $secondary-color;
    }
  }
}
.slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  border: 0 none;
  outline: 0 none;
  width: 30px;
  transform: translate(0, -50%);
  background-color: transparent;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.slick-prev {
  left: 0;
  background-image: url(../images/icons/icon_left-arrow-yellow.png);
}
.slick-next {
  right: 0;
  background-image: url(../images/icons/icon_right-arrow-yellow.png);
}
// end SLICK STUFFS:

.gifScale {
  width: 100%;
  opacity: 0;
  z-index: -1;
}

.itemLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// THE BOOKING FORM
#booking {
  width: 100%;

  position: relative;
  // z-index: 5;
  z-index: 7;

  // width: $max-container-width;
  // position: fixed;
  // top: 93px;
  // height: 220px;

  &.fixed {
    position: fixed;
    width: $max-container-width;
    bottom: 0;

    // .btnMessenger {
    //   margin-top: -260px;
    // }

    .tabFilter {
      p {
        border: 0 none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      }
    }
    .row {
      &.second {
        .select-items {
          top: unset;
          bottom: 100%;
        }
      }
    }
  }

  .tabFilter {
    width: 100%;
    font-size: 0;

    p {
      cursor: pointer;
      display: inline-block;
      width: calc(100% / 7);
      text-transform: uppercase;
      line-height: 50px;
      height: 50px;
      color: $white;
      transition: all 1s ease-in;
      background: $primary-color;
      border-left: 1px solid #b6b0b7;
      text-align: center;
      font-family: $OpenSansBold;
      font-weight: normal;
      // font-size: 0.75rem;
      font-size: 0.6875rem;

      &:hover {
        background: lighten($color: $primary-color, $amount: 10);
        transition: all 0.4s ease;
      }

      &.active {
        color: $primary-color;
        background: $white;
        border-color: transparent;
        .activeIcon {
          opacity: 1;
        }
        .unActiveIcon {
          opacity: 0;
        }
      }
    }
  }
  .tabIcon {
    position: relative;
    display: inline-block;
    height: 1rem;
    min-width: 20px;
    margin-right: 10px;
    vertical-align: middle;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 100%;
      transition: all 0.2s ease;
    }
  }
  .activeIcon {
    opacity: 0;
  }
  .tabContentWrap {
    width: 100%;
    // overflow: hidden;
  }
  .tabContentReel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 1s cubic-bezier(1, 0, 0.68, 0.93);
    transition-delay: 0.1s;
  }
  .tabContent {
    display: none;
    width: 100%;
    // min-height: 300px;
    color: $main-grey;
    padding: 12px 25px 20px;
    background-color: $white;

    // temp
    // display: none;

    &.active {
      display: block;
    }
  }
  .row {
    font-size: 0;
    margin-bottom: 15px;
    vertical-align: middle;
    &.first {
      label {
        font-size: 0.75rem;
        color: $main-grey;
      }
      .formControl {
        padding-left: 26px;
        margin-right: 22px;
        cursor: pointer;
        user-select: none;
        height: auto;
        line-height: unset;
        background-color: transparent;
        &:hover {
          .checkmark {
            background-color: #eee;
          }
        }
      }
      input {
        &:checked {
          & + .checkmark {
            &:after {
              display: block;
            }
          }
        }
      }
    }
    &.second {
      .formControl {
        position: relative;
        width: calc(50% - 10px);

        // padding-top: 20px;
        padding-right: 10px;

        &:first-child {
          margin-right: 10px;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
      label {
        position: absolute;
        top: 0;
        left: 10px;
        height: 50%;
        line-height: 22px;
        color: $main-grey;
        font-size: 0.75rem;
        display: block;
      }
      // .withValueLabel {
      // }
      // .withoutValueLabel {
      // }
      select {
        // position: relative;
        // font-family: $OpenSansBold;
        // color: $primary-color;
        // font-size: 1rem;
        // padding-left: 10px;
        display: none; /*hide original SELECT element:*/
      }
    }
    &.third {
      margin-bottom: 0;
      .formControl {
        width: 13.4%;
        // height: 44px;
        // line-height: 44px;
        // background-color: $lighter-grey;

        label {
          position: absolute;
          left: 10px;
          top: 0;
          z-index: 1;
        }
        .unit {
          position: relative;
          font-size: 1rem;
          color: #000;
          left: 0;
          // line-height: 28px;
          // bottom: 0;
          // height: 100%;
          // padding: 16px 0 0 40px;
          // top: unset;
          // z-index: 3;

          &.withoutValueLabel {
            display: none;
          }
          &.withValueLabel {
            display: inline;
          }
        }
      }
      .dateInputControl {
        margin-right: 10px;
        width: calc(40.8% - 10px);
      }
      .dropdownToggle {
      }
      .passengerDropdown {
        position: absolute;
        width: 100%;
        left: 0;
        top: -100%;
        opacity: 0;
        border-top: 1px solid white;
        transition: top 0.3s ease, opacity 0.2s, z-index 0.5s;
        z-index: -99;
      }
      .passengersInputControl,
      .passengerControlWrap {
        width: calc(24.6% - 10px);
        margin-right: 10px;
      }

      .dropdownToggler {
        position: absolute;
        top: 18px;
        right: 10px;
        width: 0;
        height: 0;
        padding: 0;
        border: 6px solid transparent;
        border-color: #4b0d62 transparent transparent transparent;
        z-index: 3;

        &.openSelect {
          border-color: transparent transparent $primary-color transparent;
          top: 12px;

          & + .passengerDropdown {
            opacity: 1;
            z-index: 1;
            top: 100%;
            transition: top 0.3s ease, opacity 0.5s, z-index 0.5s;
          }
        }
      }

      .passengersInputControl2 {
        position: relative;
        background-color: $lighter-grey;
        line-height: 22px;
        height: 44px;

        .inputWrap {
          position: absolute;
          width: 37%;
          height: 100%;
          right: 0;
          top: 0;
        }

        .infoValueLabel {
          font-size: 0.75rem;
          position: relative;
          color: $black;
          line-height: 0.3;
        }
        .infoShort {
          font-size: 1rem;
          color: $main-grey;
          display: block;
          left: 0;
          padding-left: 10px;
          line-height: 1.7;
          // display: inline;
        }

        &:not(:last-child) {
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 90%;
            height: 1px;
            background-color: $white;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        input {
          text-align: center;
          padding: 0 30px;
          z-index: 1;
        }
      }

      .promotionInputControl {
        width: calc(21.2% - 10px);
        margin-right: 10px;

        input {
          text-transform: uppercase;
        }
      }
      input {
        position: relative;
        height: 100%;
        border-radius: 0;
        color: $black;
        padding: 16px 0 0 10px;
        // border: 0 none;
        font-size: 1rem;
        // background-color: transparent;
        width: 100%;
        // line-height: 44px;
        cursor: pointer;
        z-index: 2;
      }
      #passengers {
        padding-left: 10px;
        width: auto;
        max-width: 1.5em;
        display: inline-block;

        &.small {
          max-width: 1.5em;
        }
        &.large {
          max-width: 2em;
        }
        &.huge {
          max-width: 2.5em;
        }
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        // -webkit-appearance: scrollbarthumb-vertical;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
      .withoutValueLabel {
        height: 100%;
        line-height: 44px;
        color: $main-grey;
        font-size: 1rem;

        & + input {
          opacity: 0;
        }
      }
      .withValueLabel {
        height: 50%;
        line-height: 22px;
        color: $main-grey;
        font-size: 0.75rem;
      }
      .arrowBtn {
        position: absolute;
        border: 0 none;
        outline: 0 none;
        border-radius: 50%;
        background: #c4c4c4;
        height: 1rem;
        width: 1rem;
        line-height: 1rem;
        left: 10px;
        top: calc(50% - 0.5rem);
        padding: 0;
        z-index: 2;

        img {
          width: 50%;
        }

        &.up {
          right: 10px;
          left: unset;
        }
      }
      .submitFormBtn {
        width: 100%;
        vertical-align: middle;
      }
    }
  }
  .formControl {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: $lighter-grey;
    height: 44px;
    line-height: 44px;

    &.disabled {
      label {
        color: black;
      }
      input {
        background-color: $main-grey;
      }
    }
    &.withoutValue {
      label {
        // height: 100%;
        // width: 100%;
        // font-size: 1rem;
        display: none;
      }
      .select-selected {
        color: $main-grey;
        font-family: $OpenSans;
        height: 100%;
        margin-top: 0;
      }
    }

    &.dateInputControl,
    &.customSelectWrap {
      label {
        position: absolute;
        left: 10px;
        top: 0;
        z-index: 1;
      }

      .withoutValueLabel {
        height: 100%;
        line-height: 44px;
        color: $main-grey;
        font-size: 1rem;

        & + input {
          opacity: 0;
        }
      }
      .withValueLabel {
        height: 50%;
        line-height: 22px;
        color: $main-grey;
        font-size: 0.75rem;
      }
    }

    input {
      border-radius: 0;
      border: 0 none;
      background-color: transparent;
      line-height: 44px;
    }
    .select-selected {
      // background-color: #fff;
      background-color: $lighter-grey;
      font-size: 1rem;
      height: 100%;
      height: calc(100% - 5px);
      margin-top: 5px;
      /*style the arrow inside the select element:*/
      &:after {
        content: "";
        position: absolute;
        top: 18px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $primary-color transparent transparent transparent;
      }

      /*point the arrow upwards when the select box is open (active):*/
      &.select-arrow-active {
        &:after {
          border-color: transparent transparent $primary-color transparent;
          top: 12px;
        }
      }
    }
    /*style the items (options), including the selected item:*/
    .select-items div,
    .select-selected {
      // color: $primary-color;
      color: $black;
      border: 0 none;
      cursor: pointer;
      user-select: none;
      font-size: 1rem;
      font-family: $OpenSansBold;
      font-weight: normal;
      padding-left: 10px;
    }
    /*style items (options):*/
    .select-items {
      position: absolute;
      background-color: $white;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
      border: 1px solid $lighter-grey;
      border-top: 0 none;

      div {
        border-bottom: 1px solid rgba($primary-color, 0.2);

        &:last-child {
          border-bottom: 0 none;
        }
      }
    }

    /*hide the items when the select box is closed:*/
    .select-hide {
      display: none;
    }
    .select-items div:hover,
    .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  .submitInputControl {
    background-color: transparent;
  }
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 1;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
      width: 10px;
      height: 10px;
      top: 3px;
      left: 3px;
      background-color: $secondary-color;
      border-radius: 50%;
    }
  }
  .providedLogo {
    width: 143px;
    img {
      width: 100%;
    }
  }
  .dateInputControl {
    background-color: transparent;

    .dropBtn {
      position: relative;
      width: calc(50% - 5px);
      display: inline-block;
      height: 100%;
      background-color: $lighter-grey;

      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }

      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 11px;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background: white url(../images/icons/icon_calendar.png) no-repeat center/100% auto;
      }
    }
    input {
      padding: 16px 0 0 10px;
    }
  }
}
#tab2 {
  p {
    font-size: 0.75rem;
  }
}
#checkinform {
  margin-top: 17px;

  label {
    font-size: 1rem;
  }
  input {
    font-size: 1rem;
  }
  .row {
    margin-bottom: 0;

    .formControl {
      width: calc(50% - 10px);
      margin-left: 10px;

      &:first-child {
        margin-right: 10px;
        margin-left: 0;
      }
    }
  }

  .additionalOptions {
    display: inline-block;
    width: 90%;

    &.hide {
      max-height: 0;
      overflow: hidden;
      display: none;
    }
    &.show {
      max-height: unset;

      & + .submitInputControl {
        margin-top: 0;
      }
    }
  }
  .submitInputControl {
    float: right;
    margin-top: 10px;
  }
}
.dynamicPadding {
  position: absolute;
  left: 10px;

  & + input {
    height: 44px;
  }
}
.additionalOptionToggle {
  position: relative;
  padding-right: 20px;
  border: 0 none;
  outline: 0 none;
  background-color: transparent;
  font-size: 0.75rem;
  &:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $primary-color transparent transparent transparent;
  }

  &.hiding {
    // max-height: 0;
    // overflow: hidden;
  }
  &.showing {
    // max-height: unset;
    &:after {
      border-color: transparent transparent $primary-color transparent;
      top: 12px;
    }
  }
}

#hotelbookingform {
  select {
    display: none;
  }

  .row {
    .formControl {
      width: calc(50% - 10px);
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
        margin-right: 10px;
      }
    }
  }

  .submitInputControl {
    float: right;
  }
}
.providedByWrap {
  display: inline-block;

  p {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75rem;
    margin-right: 10px;
  }
}

#extrabaggageform,
#additionalserviceform {
  .formControl {
    &:first-child {
      width: calc(84% - 20px);
      margin-right: 20px;
    }
  }
  label {
    font-size: 1rem;
  }
  input {
    font-size: 1rem;
    padding-top: 0;
  }
  .submitFormBtn {
    vertical-align: middle;
  }
}
.listIconAncillary {
  p {
    display: inline-block;
    white-space: nowrap;
    color: #b6b0b7;
    font-size: 0.625rem;
    margin-right: 1.25rem;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 10px;
  }
}
