footer {
  background: $white;
  .container {
    transition: all 0.5s ease-in;
  }
  .ttCat {
    color: $secondary-color;
    font-size: 1.125rem;
    line-height: 1.125rem;
    height: 1.125rem;
    font-family: $OpenSansExtraBold;
    font-weight: normal;
  }
  .ttSubCat {
    color: $main-grey;
    font-size: 0.6875rem;
    font-family: $OpenSansBold;
    font-weight: normal;
    margin: 0;
  }
  .iconCategory {
    display: inline-block;
    height: 13px;
    margin-right: 6px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .iconSubCategory {
    display: inline-block;
    height: 7px;
    margin-right: 4px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .iconAwards {
    width: 20%;
    img {
      width: 100%;
    }
  }
  .linkCat {
    font-size: 0.6875rem;
    font-family: $OpenSansLight;
    color: $main-grey;
    line-height: 1.75rem;
    transition: all 0.2s ease-in;

    &:hover {
      text-decoration: underline;
    }
  }
  .subCat {
    @include clearfix;
    margin: 5px 0;
    > * {
      display: inline-block;
      vertical-align: top;
    }
    .catLeft {
      width: 15.67%;
    }
    .catRight {
      width: 84.33%;
      float: right;
      padding-left: 20px;

      > * {
        font-family: $OpenSansLight;
        color: $main-grey;
        font-size: 0.6875rem;
      }
    }
  }
  .catFlag {
    display: inline-block;
    width: 20px;

    img {
      width: 100%;
    }
  }
  .subCatList {
    display: flex;
    flex-direction: column;
  }
  .socialLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 -10px;
    width: 100%;
    li {
      width: calc(100% / 3);
      padding: 0 10px;
    }
    img {
      width: 100%;
      transition: all 0.2s ease;
    }
    a {
      &:hover {
        img {
          transform: scale(0.9);
        }
      }
    }
  }
}

.row5 {
  font-size: 0;
  .col {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 5);
  }
}
.rowContact {
  .col {
    display: inline-block;
    vertical-align: top;
    width: 20%;

    &.first {
      width: 51%;
    }
    &.second {
      width: 28%;
      padding-left: 40px;
      padding-right: 40px;
    }
    &.third {
      padding-right: 3rem;
    }
  }
  a {
    display: inline;
    color: $main-grey;
    transition: all 0.2s ease-in;

    &:hover {
      text-decoration: underline;
    }
  }
}
.rowMain {
  height: $footer-height;
  line-height: $footer-height;
  font-size: 0.875rem;
  font-family: $OpenSansLight;
  color: $main-grey;
  background-color: $light-grey;
  @include clearfix;
  .footLeft {
    float: left;
    height: 100%;
  }
  .footRight {
    float: right;
    height: 100%;
    a {
      display: inline;
      padding: 0 20px;
      color: $main-grey;
      transition: all 0.2s ease-in;

      &:not(:first-child) {
        border-left: 1px solid $main-grey;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
