@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@mixin tester {
  position: absolute;
  top: 20%;
  left: 10%;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
}

@mixin clearfix($extend: true) {
  @if $extend {
    @extend %clearfix;
  } @else {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

%clearfix {
  @include clearfix($extend: false);
}

@function white($opacity) {
  @return rgba(white, $opacity);
}

@mixin coverer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin clearpos {
  position: static;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

// CUSTOM SCROLLBAR
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  // body {
  // scrollbar-face-color: $foreground-color;
  // scrollbar-track-color: $background-color;
  // }
}

.ovl {
  @include coverer;
  background: rgba(0, 0, 0, 0.75);
}
.dgt_cl {
  clear: both;
  overflow: hidden;
}

.helper-hide {
  display: none;
}
.helper-force-hide {
  display: none !important;
}

/*
  Tiny Scrollbar
 */
.scrolled {
  width: 100%;
}
.scrolled .g-viewport {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.scrolled .g-overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px 0 0;
  width: 100%;
}
.scrolled .g-thumb .end,
.scrolled .g-thumb {
  background: url(../images/custas.png) no-repeat;
  background-size: 25px;
}
.scrolled .g-scrollbar {
  position: relative;
  float: right;
  width: 25px;
}
.scrolled .g-track {
  height: 100%;
  width: 25px;
  position: relative;
  background: url(../images/bg-tinyscroll.png) repeat-y center top;
}
.scrolled .g-thumb {
  height: 20px;
  width: 25px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.scrolled .g-thumb .end {
  overflow: hidden;
  height: 5px;
  width: 25px;
}
.scrolled .g-disable {
  display: none;
}
.g-noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.styled {
  display: none;
}
.checkbox,
.radio {
  width: 25px;
  height: 25px;
  background: url(../images/checkbox.png) no-repeat;
  display: inline-block;
}
.radio {
  background: url(../images/radio.png) no-repeat;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  background: transparent;
  line-height: 1;
  height: 48px;
  border-radius: 25px;
  font-size: 16px;
  color: #000;
  width: 100%;
  padding: 2px 20px 0 20px;
  border: 1px solid #707070;
  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }
}

input[type="text"]::selection,
input[type="password"]::selection,
textarea::selection {
  background: #ededed;
  text-shadow: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: none;
}

p {
  font-size: 0.875rem;
}
