header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;

  .container {
    position: relative;
  }
  a {
    color: $white;
    transition: all 0.3s ease-out;

    &:hover {
      color: $secondary-color;
    }
  }
  .logoWrap {
    display: inline-block;
    position: absolute;
    left: $min-page-padding;
    top: 50%;
    transform: translateY(-50%);
  }
  .logoAngkor {
    img {
      width: 300px;
    }
  }
  .logoAngkorWards {
    img {
      width: 100px;
    }
  }
  nav {
    text-align: right;
  }

  #submenu,
  #nav {
    > li {
      display: inline-block;
    }
  }

  #submenu {
    margin-top: 4px;
    margin-right: -13px;
    font-size: 0.6875rem;
    > li {
      padding: 0 13px;
      position: relative;

      &:not(:first-child) {
        border-left: 1px solid $white;
      }
    }

    .topNavBtn {
      display: inline-block;
      vertical-align: middle;
      img {
        width: 15px;
      }
    }
    .searchHolder {
      width: 0;
      transition: all 0.3s ease-in-out 0s;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;

      input {
        color: #fff;

        border: none;
        max-width: 150px;
        padding-right: 5px;
        font-family: inherit;
        background: transparent;
        border-bottom: 1px solid transparent;

        &:focus {
          outline: none;
        }

        @include placeholder {
          color: $white;
        }
      }
      input::-webkit-search-decoration,
      input::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }

      &.visible {
        width: 80%;
        input {
          border-bottom-color: $white;
        }
      }
    }
  }

  #nav {
    margin-top: 20px;
    font-family: $OpenSansBold;
    font-weight: normal;

    li {
      vertical-align: top;
    }
    a {
      margin-left: 2.5rem;
      font-size: 0.875rem;
    }
  }

  .dropdownToggler {
    position: relative;
    cursor: pointer;
    padding-right: 25px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 10px;
      height: 6px;
      background: url("../images/icons/icon_dropdown-arrow.png") no-repeat center / 10px 6px;
      margin-top: -3px;
      transform: rotate(0deg);
      z-index: 1;
      transition: all 0.2s ease-in;
    }

    &.openSelect {
      &::after {
        transform: rotate(180deg);
        transition: all 0.2s ease-in;
      }

      .dropdownOptions {
        opacity: 1;
        // height: auto;
        // visibility: visible;
        z-index: 0;
        transition: all 0.3s ease-in;
      }
    }
    a,
    p {
      display: block;
      text-align: left;
      color: $white;

      > * {
        display: inline-block;
        vertical-align: middle;
      }
    }
    img {
      width: 20px;
      margin-right: 5px;
      // margin-top: -4px;
    }
    .dropdownOptions {
      position: absolute;
      top: 100%;
      left: -5px;
      width: calc(100% + 10px);
      // height: 0;
      background-color: #fff;
      // padding: 10px 0 30px;
      // display: none;
      opacity: 0;
      // visibility: hidden;
      z-index: -9999;
      transition: all 0.3s ease-in;

      li {
        // border-bottom: 1px solid darken(#fff, 10%);
      }

      a {
        padding: 5px;
        background-color: #fff;
        transition: all 0.2s ease-in;
        color: $primary-color;
        border-bottom: 1px solid rgba($main-grey, 0.1);
        white-space: nowrap;
        &:hover {
          background-color: darken(#fff, 10%);
        }
      }
    }
  }
}
