#pHome {
  #banner {
    padding-top: 93px;
    background: url(../images/backgrounds/bg_banner.jpg) no-repeat center bottom/ cover;
    // margin-bottom: 3.75rem;
    min-height: 100vh;
    height: 100vh;
    .container {
      height: 100%;
      position: relative;
      transition: all 0.5s ease-in;
    }
  }
  .bannerWrap {
    position: relative;
    // position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.4s ease;
  }
  #bannerHero {
    @include clearfix;
    margin-top: 21px;
    margin-bottom: 21px;
    .heroImg {
      // @include clearfix;
      // height: 316px;
      position: relative;
      width: 59%;
      float: left;

      img {
        width: 100%;
      }
    }
    .originText,
    .midText,
    .destText {
      position: absolute;
      font-family: $OpenSansExtraBold;
      font-weight: normal;
      text-transform: uppercase;
      color: $white;
      line-height: 1;
    }
    .originText {
      font-size: 3.625rem;
      left: 0;
      top: 20%;
    }
    .midText {
      font-size: 2.5rem;
      top: 38%;
      left: 18%;
    }
    .destText {
      font-size: 4rem;
      color: $primary-color;
      left: 11.5%;
      bottom: 16.4%;
    }
    .bannerEl {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .elAirplane {
      // transition: all 0.5s ease-out;
      &.animate {
        animation: flowing 10s linear alternate infinite;
      }
    }

    @keyframes flowing {
      0% {
        margin-top: -3%;
        transform: scale(1.03);
      }
      50% {
        margin-top: 0%;
        transform: scale(1);
      }
      100% {
        margin-top: 3%;
        transform: scale(1.03);
      }
    }

    .heroInfo {
      // @include clearfix;
      width: 41%;
      float: right;
      padding-left: 20px;
      text-align: left;

      h4 {
        font-size: 1.5rem;
        color: $primary-color;
        text-transform: uppercase;
        margin: 0;
      }

      h2 {
        color: #f15a22;
        font-family: $OpenSansExtraBold;
        font-weight: normal;
        font-size: 3.625rem;
        text-transform: uppercase;
        margin: 10px 0 0;
      }
      h3 {
        color: #f15a22;
        font-family: $OpenSansExtraBold;
        font-weight: normal;
        font-size: 2.375rem;
        margin: 0 0 25px;
      }

      p {
        color: $main-grey;
        margin-bottom: 18px;
      }
    }
    .slick-dots {
      text-align: center;
    }
  }
  #offers {
    .container {
      text-align: center;
    }
    .sectionTitle {
      text-align: left;
      margin-top: 40px;
    }
  }
  .offerWrap {
    @include clearfix;
    //   display: flex;
    //   flex-direction: row;
    //   flex-wrap: wrap;
    font-size: 0;
    text-align: left;
  }

  .offerItem {
    position: relative;
    // flex: 1 0 27.15%;
    width: 27.15%;
    // display: inline-block;
    float: left;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    padding-left: 20px;
    margin-bottom: 20px;

    &:hover {
      .itemImg {
        background-size: 105% auto;
      }
      .itemLink {
        // box-shadow: 0 0 15px rgba($color: $main-grey, $alpha: 0.5);
      }
      h3 {
        span {
          transform: translate(40%, -50%);
          opacity: 0;
        }
      }
    }
    .itemLink {
      transition: all 0.25s ease-in;
    }
  }
  .firstItem {
    width: 45.7%;
    // flex: 2 0 45.8%;
    padding-left: 0;
    margin-bottom: 2.07rem;
    .itemImg {
      width: 100%;
    }
    .itemInfo {
      margin-top: 1rem;
      padding-left: 0;
      width: 41%;

      .down {
        position: relative;
        width: 100%;
      }
      h5 {
        font-size: 0.875rem;
        display: inline-block;
      }
      h4 {
        font-size: 1.75rem;
      }
      h3 {
        position: static;
        display: inline-block;
        padding-left: 10px;
        font-size: 1.5rem;
      }
    }
  }
  .itemImg {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 46.8%;
    display: inline-block;
    transition: all 0.45s ease-out;
    // .gifScale {
    //   height: 100%;
    //   width: auto;
    // }
  }
  .itemInfo {
    width: 46.3%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    .down {
      width: calc(46.3% - 10px); // equals .itemInfo && padding
      position: absolute;
      bottom: 0;
    }

    h5 {
      font-family: $OpenSansLight;
      color: $main-grey;
      font-size: 0.625rem;
      margin: 0;
    }
    h4 {
      margin: 0;
      color: $primary-color;
      font-family: $OpenSansExtraBold;
      font-weight: normal;
      font-size: 0.9375rem;
      text-transform: uppercase;
    }
    h3 {
      position: relative;
      color: $secondary-color;
      font-family: $OpenSansLight;
      font-size: 1.375rem;
      margin: 0;

      span {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 10.27%;
        transition: all 0.45s ease;

        img {
          width: 100%;
        }
      }
    }

    .top {
      h5 {
        text-transform: uppercase;
      }
    }
  }

  // PROMO
  #promo {
    .promoWrap {
      font-size: 0;
      margin: 0 -9.86px;
    }
    .promoItem {
      position: relative;
      width: calc(100% / 3 - 20px);
      display: inline-block;
      margin: 0 9.86px 20px;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in;
        border: 3px solid transparent;
        box-sizing: border-box;
      }

      &:hover {
        &:after {
          border-color: $secondary-color;
        }
      }
    }
    .itemImg {
      width: 100%;
    }
  }

  // NEWS
  #news {
    .newsHolder {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
    }
    .mgzWrap {
      position: relative;
      width: 45.7%;
      padding: 40px 40px 60px;
      background-color: $light-grey;
      display: inline-block;
    }
    .mgzSlider {
      margin: 0 -10px;
    }
    .mgzItem {
      padding: 0 10px;
      img {
        width: 100%;
      }
    }
    .slick-dots {
      margin-top: 40px;
      margin-left: 5px;
    }
    .linkToMgz {
      position: absolute;
      right: 40px;
      bottom: 40px;
    }

    .newsWrap {
      position: relative;
      padding-left: 20px;
      width: 54.3%;
      float: right;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      h2 {
        margin: 0;
        margin-left: -4px; // this font padding itself some pixels from left
        line-height: 2.6rem;
      }

      .linkToNews {
        position: absolute;
        top: 0;
        right: 0;
      }
      .newsList {
        flex: 1;
      }
      .newsItem {
        position: relative;
        width: 100%;
        height: calc(100% / 3);
        padding-top: 20px;

        &:hover {
          .itemLink {
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          }
          p span {
            transform: translateX(5px);
          }
        }
      }
      .itemLink {
        transition: all 0.25s ease-in;
      }
      .itemImg {
        width: 24.3%;
        display: inline-block;
        vertical-align: bottom;
        height: 100%;

        .gifScale {
          width: auto;
          height: 100%;
        }
      }
      .itemInfo {
        width: 75.7%;
        padding-left: 20px;
        float: right;
        .down {
          width: calc(76.7% - 20px);
        }
        p {
          font-size: 0.625rem;
          color: $main-grey;
          span {
            width: 12px;
            display: inline-block;
            transition: all 0.25s ease-in;

            img {
              width: 100%;
            }
          }
        }
        h4 {
          text-transform: unset;
          font-family: $OpenSansBold;
          font-weight: normal;
        }
      }
    }
  }

  // PARTNER
  #partners {
    .partnerSliderWrap {
    }
    .partnerSlider {
      margin: 0 -10px;
      padding: 0 50px;
    }
    .linkToPartner {
      position: relative;
      &:hover {
        .hovered {
          opacity: 1;
        }
      }
    }
    .partnerItem {
      padding: 0 10px;
      img {
        width: 100%;
      }
      .hovered {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in;
        opacity: 0;
      }
    }
    .slick-dots {
      text-align: center;
    }
    .slick-prev {
      left: 10px;
    }
    .slick-next {
      right: 10px;
    }
  }

  #newsletter {
    padding-top: 12rem;
    padding-bottom: 50px;
    background: white url(../images/backgrounds/bg_newsletter.jpg) no-repeat center top/cover;
    .container {
    }
    .title {
      display: block;
      text-align: left;
      color: $white;
      margin-bottom: 3rem;

      h3,
      h2 {
        font-family: $OpenSansExtraBold;
        font-weight: normal;
        color: $white;
        margin: 0;
      }
      h2 {
        font-size: 2.625rem;
      }
      h3 {
        font-size: 1.75rem;
      }
    }
    #subcribeForm {
      font-size: 0;
    }
    .formControl {
      position: relative;
      display: inline-block;
      width: calc(100% / 4);
      padding-right: 60px;
    }
    input,
    select {
      border: 0 none;
      color: $white;
      font-size: 0.875rem;
      border-bottom: 1px solid white;
      border-radius: 0;
      padding-left: 0;
      height: 2rem;
      width: 100%;

      @include placeholder {
        color: $white;
      }
    }

    .dropdownIcon {
      position: absolute;
      right: 60px;
      top: 50%;
      width: 7px;
      height: 4px;
      margin-top: -2px;

      img {
        width: 100%;
      }
    }
  }
}
