.onlyMB {
  display: none;
}
.onlyDesktop {
  display: unset;
}

// MEDIUM DESKTOP 1280x800
@media screen and (min-height: 800px) {
  #pHome {
    #banner {
      min-height: 650px;
      height: 650px;
    }
    #bannerHero {
      margin-bottom: 0;
    }
  }
}
// LARGE DESKTOP 1440x900
@media screen and (min-height: 900px) {
}
// SUPER LARGE DESKTOP 1920x1080
@media screen and (min-height: 901px) {
}
// MINI LAPTOP
@media screen and (min-height: 600px) and (max-height: 649px) {
}
@media screen and (max-width: 1280px) {
  .btnMessenger {
    bottom: 20rem;
    right: 0.5rem;
  }
}
// BELOW MINI LAPTOP 1280//1200//1180
@media screen and (max-width: 1200px) {
}
// IPAD LANDSCAPE 1024x768
@media screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
  header {
    .logoAngkor {
      img {
        width: 18rem;
      }
    }
  }
}
// IPAD PORTRAIT 768x1024
@media screen and (max-width: 1023px) {
}
// IPAD PORTRAIT 768x1024 WITH orientation
@media screen and (max-width: 768px) and (orientation: portrait) {
}
// IPAD PORTRAIT 768x1024 WITH orientation
@media screen and (max-width: 768px) {
}
// PIXEL LANDSCAPE 823x411
@media screen and (max-width: 823px) and (orientation: landscape) {
}
// IPHONE 6+ LANDSCAPE 736x414 WITH orientation
@media screen and (max-width: 813px) and (orientation: landscape) {
}
// IPHONE 6+ LANDSCAPE 736x414 AND BELOW
@media screen and (max-width: 767px) {
}
// IPHONE 6+ PORTRAIT 414x736
@media screen and (max-width: 480px) {
}
// IPHONE 6+ PORTRAIT 414x736 WITH orientation
@media screen and (max-width: 480px) and (orientation: portrait) {
}
// IPHONE 5 PORTRAIT 320x568
@media screen and (max-width: 320px) {
}
