<div id="booking">
    <div class="tabFilter">
        <p class="js_tab " data-tabid="tab1">
            <span class="tabIcon">
                <img src="images/icons/icon_flightbooking.png" alt="" class="unActiveIcon">
                <img src="images/icons/icon_flightbooking-purple.png" alt="" class="activeIcon">
            </span>
            <span>
                flight booking
            </span>
        </p>
        <p class="js_tab " data-tabid="tab2">
            <span class="tabIcon">
                <img src="images/icons/icon_checkin.png" alt="" class="unActiveIcon">
                <img src="images/icons/icon_checkin-purple.png" alt="" class="activeIcon">
            </span>
            <span>
                Flight Check-in
            </span>
        </p>
        <p class="js_tab " data-tabid="tab3">
            <span class="tabIcon">
                <img src="images/icons/icon_flighthotel.png" alt="" class="unActiveIcon">
                <img src="images/icons/icon_flighthotel-purple.png" alt="" class="activeIcon">
            </span>
            <span>
                Hotel booking
            </span>
        </p>
        <p class="js_tab active" data-tabid="tab4">
            <span class="tabIcon">
                <img src="images/icons/icon_extrabaggage.png" alt="" class="unActiveIcon">
                <img src="images/icons/icon_extrabaggage-purple.png" alt="" class="activeIcon">
            </span>
            <span>
                extra baggage
            </span>
        </p>
        <p class="js_tab " data-tabid="tab5">
            <span class="tabIcon">
                <img src="images/icons/icon_additional.png" alt="" class="unActiveIcon">
                <img src="images/icons/icon_additional-purple.png" alt="" class="activeIcon">
            </span>
            <span>
                additional services
            </span>
        </p>
        <p class="js_tab " data-tabid="tab6">
            <span class="tabIcon">
                <img src="images/icons/icon_yourtrip.png" alt="" class="unActiveIcon">
                <img src="images/icons/icon_yourtrip-purple.png" alt="" class="activeIcon">
            </span>
            <span>
                your trip
            </span>
        </p>
        <p class="js_tab" data-tabid="tab7">
            <span class="tabIcon">
                <img src="images/icons/icon_flightinfo.png" alt="" class="unActiveIcon">
                <img src="images/icons/icon_flightinfo-purple.png" alt="" class="activeIcon">
            </span>
            <span>
                flight info
            </span>
        </p>
    </div>
    <div class="tabContentWrap">
        <div class="tabContentReel">
            <div class="tabContent " id="tab1">
                <form action="#" id="booking">
                    <div class="row first">
                        <div class="formControl">
                            <input type="radio" name="trip" value="roundtrip" checked>
                            <span class="checkmark"></span>
                            <label for="trip">Round trip</label>
                        </div>
                        <div class="formControl">
                            <input type="radio" name="trip" value="oneway">
                            <span class="checkmark"></span>
                            <label for="trip">One way</label>
                        </div>
                        <div class="formControl">
                            <input type="radio" name="trip" value="multitrip">
                            <span class="checkmark"></span>
                            <label for="trip">Multi-Trip</label>
                        </div>
                    </div>
                    <div class="row second">
                        <div class="formControl withoutValue customSelectWrap">
                            <label for="origin" class="withValueLabel">From</label>
                            <!-- <label for="origin" class="withoutValueLabel">Select Origin</label> -->
                            <select name="origin" id="origin">
                                <option value="-1" class="disabled" selected disabled>Select Origin
                                </option>
                                <option value="1">Bangkok, Suvarnabhumi - Thailand (BKK) </option>
                                <option value="2">Phnom Penh - Cambodia (PNH) </option>
                                <option value="2">Phnom Penh - Cambodia (PNH) </option>
                                <option value="2">Phnom Penh - Cambodia (PNH) </option>
                                <option value="2">Phnom Penh - Cambodia (PNH) </option>
                                <option value="2">Phnom Penh - Cambodia (PNH) </option>
                            </select>
                        </div>
                        <div class="formControl withoutValue customSelectWrap">
                            <label for="destination" class="withValueLabel">To</label>
                            <!-- <label for="destination" class="withoutValueLabel">Select Destination</label> -->
                            <select name="destination" id="destination">
                                <option value="-1" class="disabled" selected disabled>Select Destination
                                </option>
                                <option value="1">Phnom Penh - Cambodia (PNH) </option>
                                <option value="2">Bangkok, Suvarnabhumi - Thailand (BKK) </option>
                            </select>
                        </div>
                    </div>
                    <div class="row third">
                        <div class="formControl dateInputControl">
                            <!-- pick a date -->
                            <p class="dropBtn">
                                <label for="from" class="withoutValueLabel">Departure Date </label>
                                <input type="text" id="from" name="from">
                            </p>
                            <p class="dropBtn">
                                <label for="to" class="withoutValueLabel">Return Date</label>
                                <input type="text" id="to" name="to">
                            </p>
                        </div>
                        <!-- custom selector -->
                        <!-- <div class="formControl passengersInputControl">
                            <button class="arrowBtn up js_increasePassengers" type="button">
                                <img src="images/icons/icon_plus-grey.png" alt="">
                            </button>
                            <label for="passengers" class="withoutValueLabel">Passengers</label>
                            <input type="number" id="passengers" name="passengers">
                            <label for="passengers" class="unit withoutValueLabel">Passengers</label>
                        </div> -->
                        <div class="formControl passengerControlWrap ">
                            <label for="passengers" class="withoutValueLabel">Passengers</label>
                            <input type="number" id="passengers" name="passengers" value=0 readonly>
                            <label for="passengers" class="unit withoutValueLabel">Passengers</label>

                            <button class="dropdownToggler js_toggleDropdown">

                            </button>
                            <div class="passengerDropdown">
                                <div class="passengersInputControl2">
                                    <label for="passengers" class="infoShort infoValueLabel">Aldults</label>
                                    <label for="passengers" class="infoValueLabel">Above 12 year old</label>
                                    <div class="inputWrap">
                                        <input type="number" id="adultpassengers" name="adultpassengers" value=0>
                                        <button class="arrowBtn down js_decreasePassengers" type="button">
                                            <img src="images/icons/icon_minus-grey.png" alt="minus">
                                        </button>
                                        <button class="arrowBtn up js_increasePassengers" type="button">
                                            <img src="images/icons/icon_plus-grey.png" alt="plus">
                                        </button>
                                    </div>
                                </div>
                                <div class="passengersInputControl2">
                                    <label for="passengers" class="infoShort infoValueLabel">Child</label>
                                    <label for="passengers" class="infoValueLabel">2 - 11 year old</label>
                                    <div class="inputWrap">
                                        <input type="number" id="childpassengers" name="childpassengers" value=0>
                                        <button class="arrowBtn down js_decreasePassengers" type="button">
                                            <img src="images/icons/icon_minus-grey.png" alt="minus">
                                        </button>
                                        <button class="arrowBtn up js_increasePassengers" type="button">
                                            <img src="images/icons/icon_plus-grey.png" alt="plus">
                                        </button>
                                    </div>
                                </div>
                                <div class="passengersInputControl2">
                                    <label for="passengers" class="infoShort infoValueLabel">Infant</label>
                                    <label for="passengers" class="infoValueLabel">Below 2 year old</label>
                                    <div class="inputWrap">
                                        <input type="number" id="infantpassengers" name="infantpassengers" value=0>
                                        <button class="arrowBtn down js_decreasePassengers" type="button">
                                            <img src="images/icons/icon_minus-grey.png" alt="minus">
                                        </button>
                                        <button class="arrowBtn up js_increasePassengers" type="button">
                                            <img src="images/icons/icon_plus-grey.png" alt="plus">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formControl promotionInputControl">
                            <label for="" class="withoutValueLabel">Promotion Code</label>
                            <input type="text" name="promotioncode" id="promotioncode">
                        </div>
                        <div class="formControl submitInputControl">
                            <button class="btn submitFormBtn">
                                <span>
                                    Find Flights
                                </span>
                                <i class="iconBtn"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tabContent " id="tab2">
                <p>Enter your booking details. All international passengers are required to present at the check-in
                    counter 2 hours before departure to verify your travel documents/Checked baggages avoiding the off
                    load at the boarding gate.</p>
                <p>Fields marked with * are required.</p>
                <form action="" class="" id="checkinform">
                    <div class="row">
                        <div class="formControl">
                            <label for="checkinreference" class="dynamicPadding js_dynamicPadding ">
                                Booking Reference
                                <span class="required">*</span>
                            </label>
                            <input type="text" name="checkinreference" id="checkinreference">
                        </div>
                        <div class="formControl ">
                            <label for="checkinreferencelastname" class="dynamicPadding js_dynamicPadding ">
                                Last Name
                                <span class="required">*</span>
                            </label>
                            <input type="text" name="checkinreferencelastname" id="checkinreferencelastname">
                        </div>
                    </div>
                    <div class="formControl bg-transparent ">
                        <!-- <input type="button" id="additionalOptionToggle" class="additionalOptionToggle"
                            value="Show Additional Options"> -->
                        <button id="additionalOptionToggle"
                            class="additionalOptionToggle js_toggleAdditionalOption hiding">
                            Show Additional Options
                        </button>
                    </div>
                    <div class="additionalOptions row hide">
                        <div class="formControl">
                            <label for="checkinticket" class="dynamicPadding js_dynamicPadding ">
                                Ticket Number
                                <span class="required">*</span>
                            </label>
                            <input type="text" name="checkinticket">
                        </div>
                        <div class="formControl">
                            <label for="checkinticketlastname" class="dynamicPadding js_dynamicPadding ">
                                Last Name
                                <span class="required">*</span>
                            </label>
                            <input type="text" name="checkinticketlastname">
                        </div>
                    </div>
                    <div class="formControl submitInputControl">
                        <button class="btn submitFormBtn">
                            <span>
                                Search
                            </span>
                            <i class="iconBtn"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="tabContent " id="tab3">
                <form action="" class="" id="hotelbookingform">
                    <div class="row">
                        <div class="formControl withoutValue customSelectWrap">
                            <label for="hotelbookingname" class="withValueLabel">Destination/ Hotel's Name</label>
                            <!-- <label for="destination" class="withoutValueLabel">Select Destination</label> -->
                            <select name="hotelbookingname" id="hotelbookingname">
                                <option value="-1" class="disabled" selected disabled>Select Destination/ Hotel
                                </option>
                                <option value="1">Phnom Penh - Cambodia (PNH) </option>
                                <option value="2">Bangkok, Suvarnabhumi - Thailand (BKK) </option>
                            </select>
                        </div>
                        <div class="formControl dateInputControl">
                            <!-- pick a date -->
                            <p class="dropBtn">
                                <label for="hotelbookingdeparture" class="withoutValueLabel">Departure Date </label>
                                <input type="text" id="hotelbookingdeparture" name="hotelbookingdeparture">
                            </p>
                            <p class="dropBtn">
                                <label for="hotelbookingreturn" class="withoutValueLabel">Return Date</label>
                                <input type="text" id="hotelbookingreturn" name="hotelbookingreturn">
                            </p>
                        </div>
                    </div>
                    <div class="providedByWrap">
                        <p class="providedLabel">Provided by</p>
                        <p class="providedLogo">
                            <img src="images/icons/logo_booking.svg" alt="booking-logo">
                        </p>
                    </div>
                    <div class="formControl submitInputControl">
                        <button class="btn submitFormBtn">
                            <span>
                                Search
                            </span>
                            <i class="iconBtn"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="tabContent active" id="tab4">
                <form action="" class="" id="extrabaggageform">
                    <div class="row">
                        <div class="formControl">
                            <label for="baggagebookingcode" class="dynamicPadding js_dynamicPadding">
                                Booking Code
                            </label>
                            <input type="text" name="baggagebookingcode">
                        </div>
                        <div class="formControl submitInputControl">
                            <button class="btn submitFormBtn">
                                <span>
                                    Search Available
                                </span>
                                <i class="iconBtn"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="listIconAncillary">
                    <p class="iconAncillary">
                        <img src="images/icons/icon_luggage.png" alt="icon-luggage">
                        Extra baggage
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_preferred-seat.png" alt="icon-luggage">
                        Preferred Seat
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_hot_meal.png" alt="icon-luggage">
                        Hot Meal
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_gifts.png" alt="icon-luggage">
                        Gifts
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_lounge.png" alt="icon-luggage">
                        Lounge
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_MAAS.png" alt="icon-luggage">
                        MAAS
                    </p>
                </div>
            </div>
            <div class="tabContent" id="tab5">
                <form action="" class="" id="additionalserviceform">
                    <div class="row">
                        <div class="formControl">
                            <label for="servicebookingcode" class="dynamicPadding js_dynamicPadding">
                                Booking Code
                            </label>
                            <input type="text" name="servicebookingcode" id="servicebookingcode">
                        </div>
                        <div class="formControl submitInputControl">
                            <button class="btn submitFormBtn">
                                <span>
                                    Search Available
                                </span>
                                <i class="iconBtn"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="listIconAncillary">
                    <p class="iconAncillary">
                        <img src="images/icons/icon_luggage.png" alt="icon-luggage">
                        Extra baggage
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_preferred-seat.png" alt="icon-luggage">
                        Preferred Seat
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_hot_meal.png" alt="icon-luggage">
                        Hot Meal
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_gifts.png" alt="icon-luggage">
                        Gifts
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_lounge.png" alt="icon-luggage">
                        Lounge
                    </p>
                    <p class="iconAncillary">
                        <img src="images/icons/icon_MAAS.png" alt="icon-luggage">
                        MAAS
                    </p>
                </div>
            </div>
            <div class="tabContent " id="tab6">
                <form action="" class="">
                    <div class="formControl">
                        <label for="baggagebookingcode">
                            Reservation Code
                            <span class="required">*</span>
                        </label>
                        <input type="text" name="baggagebookingcode">
                    </div>
                    <div class="formControl">
                        <label for="baggagebookingcode">
                            Last Name
                            <span class="required">*</span>
                        </label>
                        <input type="text" name="baggagebookingcode">
                    </div>
                    <div class="formControl submitInputControl">
                        <button class="btn submitFormBtn">
                            <span>
                                Find Flights
                            </span>
                            <i class="iconBtn"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="tabContent" id="tab7">
                <form action="" class="test">Coming soon</form>
            </div>
        </div>
    </div>
</div>