<footer>
    <div class="container">
        <div class="row5">
            <div class="col">
                <h4 class="ttCat">
                    <span class="iconCategory">
                        <img src="images/icons/icon_aboutus.png" alt="">
                    </span>
                    About Us
                </h4>
                <ul class="linkCatList">
                    <li><a class="linkCat" href="#">Vision and Mission</a></li>
                    <li><a class="linkCat" href="#">Our History</a></li>
                    <li><a class="linkCat" href="#">Our People</a></li>
                    <li><a class="linkCat" href="#"> Our Partners</a></li>
                    <li><a class="linkCat" href="#">Airline Partnership</a></li>
                </ul>
            </div>
            <div class="col">
                <h4 class="ttCat">
                    <span class="iconCategory">
                        <img src="images/icons/icon_plan.png" alt="">
                    </span>
                    Plan & Book
                </h4>
                <ul class="linkCatList">
                    <li><a class="linkCat" href="#">Tickets</a></li>
                    <li><a class="linkCat" href="#">Books Flights</a></li>
                    <li><a class="linkCat" href="#">Flight Information</a></li>
                    <li><a class="linkCat" href="#"> Ancillary services</a></li>
                    <li><a class="linkCat" href="#">Payments</a></li>
                </ul>
            </div>
            <div class="col">
                <h4 class="ttCat">
                    <span class="iconCategory">
                        <img src="images/icons/icon_travel.png" alt="">
                    </span>
                    Travel Information
                </h4>
                <ul class="linkCatList">
                    <li><a class="linkCat" href="#">Baggage Information</a></li>
                    <li><a class="linkCat" href="#">Travel Documents</a></li>
                    <li><a class="linkCat" href="#">At The Airport</a></li>
                    <li><a class="linkCat" href="#">Special Needs</a></li>
                    <li><a class="linkCat" href="#">Travel Advise</a></li>
                </ul>
            </div>
            <div class="col">
                <h4 class="ttCat">
                    <span class="iconCategory">
                        <img src="images/icons/icon_cargo.png" alt="">
                    </span>
                    Cargo Information
                </h4>
                <ul class="linkCatList">
                    <li><a class="linkCat" href="#">Routes & Schedules</a></li>
                    <li><a class="linkCat" href="#">Aircaft and ULD</a></li>
                    <li><a class="linkCat" href="#">Useful information</a></li>
                    <li><a class="linkCat" href="#">Cargo contact</a></li>
                </ul>
            </div>
            <div class="col">
                <h4 class="ttCat">
                    <span class="iconCategory">
                        <img src="images/icons/icon_policy.png" alt="">
                    </span>
                    Terms And Policy
                </h4>
                <ul class="linkCatList">
                    <li><a class="linkCat" href="#">Terms & Conditions</a></li>
                    <li><a class="linkCat" href="#">Cookie Policy</a></li>
                    <li><a class="linkCat" href="#">Privacy Policy</a></li>
                    <li><a class="linkCat" href="#">Baggage Fee & Policy</a></li>
                    <li><a class="linkCat" href="#">Agency Debit/ Credit Memo</a></li>
                    <li><a class="linkCat" href="#">Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="rowContact">
            <div class="col first">
                <h5 class="ttCat">
                    <span class="iconCategory">
                        <img src="images/icons/icon_center.png" alt="">
                    </span>
                    Support Center
                </h5>
                <ul class="subCatList">
                    <li class="subCat">
                        <div class="catLeft">
                            <h5 class="ttSubCat">
                                <span class="iconSubCategory">
                                    <img src="images/icons/icon_phone.png" alt="">
                                </span>
                                Tel:
                            </h5>
                        </div>
                        <ul class="catRight">
                            <li>
                                <span class="catFlag">
                                    <img src="images/icons/flag_cambodia.png" alt="">
                                </span>
                                +855 23 6666 786 | +855 23 212 564 (Phnom Penh - Head Office)
                            </li>
                            <li>
                                <span class="catFlag">
                                    <img src="images/icons/flag_cambodia.png" alt="">
                                </span>
                                +855 63 969 268 | +855 63 636 3666 (Siem Reap Office)
                            </li>
                            <li>
                                <span class="catFlag">
                                    <img src="images/icons/flag_VN.png" alt="">
                                </span>
                                +84 28 35471767 (Vietnam Office)
                            </li>
                            <li>
                                <span class="catFlag">
                                    <img src="images/icons/flag_china.png" alt="">
                                </span>
                                +86 20 83310123 | +86 20 83312213 (Guangzhou Office)
                            </li>
                            <li>
                                <span class="catFlag">
                                    <img src="images/icons/flag_thailand.png" alt="">
                                </span>
                                +(66) 2 134 4384 (Bangkok Air Ground Handling co.,ltd)
                            </li>
                        </ul>
                    </li>
                    <li class="subCat">
                        <div class="catLeft">
                            <h5 class="ttSubCat">
                                <span class="iconSubCategory">
                                    <img src="images/icons/icon_phone.png" alt="">
                                </span>
                                Email:
                            </h5>
                        </div>
                        <div class="catRight">
                            <p>helpdesk_online@cambodiaangkorair.com</p>
                        </div>
                    </li>
                    <li class="subCat">
                        <div class="catLeft">
                            <h5 class="ttSubCat">
                                <span class="iconSubCategory">
                                    <img src="images/icons/icon_tips.png" alt="">
                                </span>
                                Tips:
                            </h5>
                        </div>
                        <div class="catRight">
                            <p><a href="#">Booking Tips</a> | <a href="#">FAQs</a></p>
                        </div>
                    </li>
                    <li class="subCat">
                        <div class="catLeft">
                            <h5 class="ttSubCat">
                                <span class="iconSubCategory">
                                    <img src="images/icons/icon_point.png" alt="">
                                </span>
                                Branch Office:
                            </h5>
                        </div>
                        <div class="catRight">
                            <p>Contact Points</p>
                        </div>
                    </li>
                    <li class="subCat">
                        <div class="catLeft">
                            <h5 class="ttSubCat">
                                <span class="iconSubCategory">
                                    <img src="images/icons/icon_clock.png" alt="">
                                </span>
                                Working Days:
                            </h5>
                        </div>
                        <div class="catRight">
                            <p>Monday to Friday (8:00 - 12:00 & 13:30 - 17:30) (GMT+7:00, Phnom Penh local time)</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col second">
                <h5 class="ttCat">
                    <span class="iconCategory">
                        <img src="images/icons/icon_medal.png" alt="">
                    </span>
                    Certification & Awards
                </h5>
                <ul class="subCatList">
                    <li class="subCat">
                        <div class="catLeft">
                            <span class="iconAwards">
                                <img src="images/icons/logo_IATA.png" alt="">
                            </span>
                        </div>
                        <div class="catRight">
                            <p>We are the first airline getting IATA Operation Safety Audit certificate in Cambodia.</p>
                        </div>
                    </li>
                    <li class="subCat">
                        <div class="catLeft">
                            <span class="iconAwards">
                                <img src="images/icons/logo_IATA.png" alt="">
                            </span>
                        </div>
                        <div class="catRight">
                            <p>We are the first airline getting IATA Operation Safety Audit certificate in Cambodia.</p>
                        </div>
                    </li>
                    <li class="subCat">
                        <div class="catLeft">
                            <span class="iconAwards">
                                <img src="images/icons/logo_IATA.png" alt="">
                            </span>
                        </div>
                        <div class="catRight">
                            <p>We are the first airline getting IATA Operation Safety Audit certificate in Cambodia.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col third">
                <h5 class="ttCat">
                    <span class="iconCategory">
                        <img src="images/icons/icon_follow.png" alt="">
                    </span>
                    Follow us
                </h5>
                <ul class="socialLinks">
                    <li><a href="#" class="socialLink">
                            <img src="images/icons/btn_twitter.png" alt="">
                        </a></li>
                    <li><a href="#" class="socialLink">
                            <img src="images/icons/btn_googleplus.png" alt="">
                        </a></li>
                    <li><a href="#" class="socialLink">
                            <img src="images/icons/btn_FB.png" alt="">
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rowMain">
        <div class="container">
            <div class="footLeft">
                Copyright © 2019 Cambodia Angkor Air
            </div>
            <div class="footRight">
                <a href="#">Agency Debit - Credit Memo Policy </a>
                <a href="#">Destination Guide</a>
                <a href="#">Contact Us</a>
                <a href="#">Site Map</a>
            </div>
        </div>
    </div>
</footer>

<!-- Chứa các POPUP của website, phân biệt với nhau bằng class -->
<!-- POPUP này được control (show/hide) bởi "main.js" -->
<!-- 
        // Mở popup có class "register": 
        POPUP.show("register"); 
        // hoặc:
        POPUP.show("register", callback);
        
        Tắt tất cả popup: 
        POPUP.hide();
    -->
<div id="popup" class="helper-hide">
    <div class="holder helper-centerbox register">123</div>
    <div class="holder helper-centerbox login">DEF</div>
</div>

<!-- Default PRELOADER with rotating circle -->
<!-- Được control bởi: main.js -->
<!-- PRELOADER.show() -->
<!-- PRELOADER.hide() -->
<div id="preloader" class="">

    <div id="bgTop">
        <span class="progressBar"></span>
    </div>
    <div id="bgBot">
        <span class="airplane"></span>
    </div>

    <!-- <div class="loader helper-centerbox">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div> -->
</div>

<script>
</script>