<header>
  <div class="container">
    <div class="toggleWrap onlyMB">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="logoWrap">
      <a href="#" class="logoAngkor">
        <img src="images/icons/logo_angkor-air.png" alt="">
      </a>
    </div>
    <nav>
      <ul id="submenu">
        <li>
          <div href="#" class="dropdownToggler js_toggleDropdown">
            <p class="currentLanguage">
              <img src="images/icons/flag_VN.png" alt="">
              <span>VN</span>
            </p>

            <ul class="dropdownOptions">
              <li class="dropOption">
                <a href="#" class="active js_selectLanguage"><img src="images/icons/flag_VN.png" alt=""><span>Tiếng
                    Việt</span></a>
              </li>
              <li class="dropOption">
                <a href="#" class="js_selectLanguage"><img src="images/icons/flag_UK.png"
                    alt=""><span>English</span></a>
              </li>
              <li class="dropOption">
                <a href="#" class="js_selectLanguage"><img src="images/icons/flag_cambodia.png"
                    alt=""><span>Khmer</span></a>
              </li>
              <li class="dropOption">
                <a href="#" class="js_selectLanguage"><img src="images/icons/flag_japan.png" alt=""><span>日本語</span></a>
              </li>
              <li class="dropOption">
                <a href="#" class="js_selectLanguage"><img src="images/icons/flag_china.png"
                    alt=""><span>简体中文</span></a>
              </li>
              <li class="dropOption">
                <a href="#" class="js_selectLanguage"><img src="images/icons/flag_korea.png" alt=""><span>한국어</span></a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="searchHolder">
            <form action="">
              <input type="search" placeholder="search...">
            </form>
          </div>
          <a href="#" class="topNavBtn js_navSearchBtn">
            <img src="images/icons/icon_search.png" alt="">
          </a>
        </li>
        <li><a href="#" class="topNavBtn">Log in</a></li>
        <li><a href="#" class="topNavBtn">Register</a></li>
      </ul>
      <ul id="nav">
        <li><a href="">Plan & Book</a></li>
        <li><a href="">Travel Information</a></li>
        <li><a href="">Promotion</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="" class="logoAngkorWards">
            <img src="images/icons/logo_angkorwards.png" alt="">
          </a></li>
      </ul>
    </nav>
  </div>

</header>