.btn {
  line-height: 40px;
  height: 40px;
  background-color: $secondary-color;
  border: 0 none;
  font-size: 0.875rem;
  color: $white;
  text-align: center;
  font-family: $OpenSansBold;
  font-weight: normal;
  overflow: hidden;
  display: inline-block;
  // padding-left: 20px;
  padding-left: 0;
  padding-right: 20.5px;
  // transition: all 0.3s ease-out;
  transition: all 0.6s cubic-bezier(0.99, 0, 0.41, 1);

  &.primary {
    background-color: $primary-color;
  }

  &:before {
    content: "";
    // transition: all 0.3s ease-out;
    opacity: 0;
    transform: translateX(-100%) scale(0.1);
    transform-origin: left center;
  }

  span,
  .iconBtn {
    display: inline-block;
    // transition: all 0.3s ease-out;
    opacity: 1;
    transform-origin: right center;

    &.iconFAQ {
      background-image: url(../images/icons/icon_faq.png);
      vertical-align: top;
    }
  }
  .iconBtn,
  &:before {
    height: 100%;
    width: 14px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/icons/icon_right-arrow.png) no-repeat center / 100% auto;
    transition: transform 0.6s cubic-bezier(0.99, 0, 0.41, 1), opacity 0.5s cubic-bezier(0.99, 0, 0.41, 1);
  }
  &:hover {
    text-align: center;
    // padding-left: 30px;
    padding-left: 15px;
    padding-right: 5.5px;
    .iconBtn {
      transform: translateX(100%) scale(0.1);
      opacity: 0;
    }
    &:before {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }

  &.btnFaq {
    position: fixed;
    text-transform: uppercase;
    font-family: $OpenSansSemibold;
    height: 30px;
    line-height: 30px;
    left: 0;
    bottom: 5.72%;
    transform: rotate(-90deg);
    transform-origin: left top;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      text-align: center;
      padding-left: 2px;
      padding-right: 18px;
      .iconBtn {
        transform: translateX(-100%);
      }
    }
    &:before {
      content: unset;
    }
  }
}
.btnMessenger {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  // margin-left: calc(#{$max-container-width} - 2.5rem);
  // margin-top: 255px;
  right: 2.5rem;
  bottom: 10rem;
  z-index: 1;

  img {
    width: 100%;
  }
}

.btnToggleBooking {
  position: fixed;
  right: -4rem;
  bottom: 0;
  z-index: 6;
  width: 4rem;
  transition: all 0.4s ease-out;
  img {
    width: 100%;
  }

  &.fixed {
    right: -5px;
  }
  &:hover {
    right: 0;
  }
}
