/*
 * typography.scss
 *
 * $Rev:: 13112         $:  Revision of last commit
 * $Author:: lilee      $:  Author of last commit
 * $Date:: 2014-07-30 1#$:  Date of last commit
*/

$OpenSans: "OpenSans-Regular", sans-serif;
$OpenSansBold: "OpenSans-Bold", sans-serif;
$OpenSansExtraBold: "OpenSans-ExtraBold", sans-serif;
$OpenSansLight: "OpenSans-Light", sans-serif;
$OpenSansSemibold: "OpenSans-Semibold", sans-serif;

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"),
    url("../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"),
    url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"),
    url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: "VNFGotham";
  src: url("../fonts/VNFGotham.eot");
  src: url("../fonts/VNFGotham.eot") format("embedded-opentype"), url("../fonts/VNFGotham.woff2") format("woff2"),
    url("../fonts/VNFGotham.woff") format("woff"), url("../fonts/VNFGotham.ttf") format("truetype"),
    url("../fonts/VNFGotham.svg#VNFGotham") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot") format("embedded-opentype"),
    url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"),
    url("../fonts/Montserrat-Black.ttf") format("truetype"),
    url("../fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
  font-weight: normal;
}

h1 {
  font-size: em(40);
  line-height: (42/40);
}

h2 {
  font-size: em(26);
  line-height: (30/26);
}

h3 {
  font-size: em(24);
  line-height: (28/24);
}

h4 {
  font-size: em(20);
  line-height: (24/20);
}

h5 {
  font-size: em(18);
  line-height: (24/18);
}

h6 {
  font-size: em(14);
  line-height: (20/14);
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  // transition: transform 1s;
  // background: linear-gradient(to top, black, white);
  display: flex;
}
